{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <h2 style="text-align: center;">ЖЮРИ 2011</h2>
    <hr>
    <br>
    <a href="{% static 'img/katalog/2011.pdf' %}"><h4
            style="text-align: right; color: blue; text-decoration: underline;">Каталог 2011</h4></a>
    <div class="block1">

        <div class="block2 group"><p><img src="{% static 'img/2011/marat.jpg' %}"
                                          style="float: left; width: 250px; height: 220px; margin-right: 20px; margin-bottom: 20px;">
            <h4><strong>МАРАТ САРУЛУ, КЫРГЫЗСТАН <br>
                Кинорежиссер, Председатель жюри</strong></h4>
            Родился в 1957 году в Кыргызстане. В 1980 году закончил КГНУ, в 1984 году - Киноакадемию в Москве. Лауреат
            Государственной премии КР им. Токтогула, 2006. Заслуженный деятель искусств КР. Член СК КР и КСК стран СНГ и
            Балтии. Многократный лауреат международных кинофестивалей. Среди фильмов: "Песнь южных морей" (2008),
            "Бурная река, безмятежное море" (2004), "Взлет" (2002), "Брат мой, шелковый путь" ("Алтын кыргоол", 2001),
            "Мандала", (1998) и др.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2011/gulzhan.jpg' %}"
                                          style="float: left; width: 250px; height: 220px; margin-right: 20px; margin-bottom: 20px;">
            <h4><strong>ГҮЛЖАН НАУРЫЗБЕКОВА, КАЗАХСТАН <br>
                Киновед</strong></h4>
            Доцент Казахской Национальной академии искусств им. Т.Жургенова, заведующая кафедрой "История и теория
            кино", постоянный член отборочной комиссии МКФ "Звезды Шакена" в Алмазы. Автор книги "Ауэзов и кино" (2000),
            мультимедийного учебника "История казахского кино" (2002). Автор-составитель учебно-методических разработок
            по специальным дисциплинам "История кино стран Центральной Азии", "История казахского кино", "История кино
            СНГ", "История мирового кино" и многих др. За заслуги по пропаганде событий 1986 года награждена почетным
            дипломом Посольство Казахстана в Кыргызской Республике (1996).
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2011/vasiliy.jpg' %}"
                                          style="float: left; width: 250px; height: 220px; margin-right: 20px; margin-bottom: 20px;">
            <h4><strong>ВАСИЛИЙ МЕЛЬНИКОВ, ЛАТВИЯ<br>
                Продюсер</strong></h4>
            Родился в 1970 году. В 2008-2010 годах учился на Высших продюсерских курсах, в Мастерской Александра
            Ефимовича Роднянского, в Москве. Генеральный продюсер Международного кинофестиваля "Кино и музыка", а также
            кинофорума "Экология души", Латвия.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2011/sergey.jpg' %}"
                                          style="float: left; width: 250px; height: 210px; margin-right: 20px; margin-bottom: 20px;">
            <h4><strong>СЕРГЕЙ АНАШКИН, РОССИЯ <br>
                Киновед</strong></h4>
            Родился в 1965 году. окончил киноведческий факультет ВГИКа. Автор многочисленных статей, опубликованных в
            журналах "Искусство кино", "Сеанс", "Татлин", в популярных изданиях, энциклопедиях и в научных сборниках.
            Член международной федерации критиков FIPRESCI. Участвовал в работе жюри FIPRESCI на кинофестивалях в Киеве,
            Москве, Фрибуре, Турине, Каире. Был членом экспертного совета премии "Золотой овен", редактором каталога
            Московского МКФ, Экспертом фестиваля "Меридианы Тихого" (Владивосток). Лауреат премии "Слон" Гильдии
            кинокритиков России. Снял в Якутии документальный фильм "Тойук о Стеше" (2007). Живет в Екатеринбурге.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2011/georgiy.jpg' %}"
                                          style="float: left; width: 250px; height: 210px; margin-right: 20px; margin-bottom: 20px;">
            <h4><strong>ГЕОРГИЙ ОВАШВИЛИ, ГРУЗИЯ<br>
                Кинорежиссер, продюсер</strong></h4>
            В 1996 году закончил кинофакультет Грузинского Государственного Института Кино и Театра. В 2006 году
            закончил Режиссерские курсы Нью-Йоркской киноакадемии в Универсальной студии в Голливуде. Его изумительные
            игровые короткометражки завоевали множество наград на разных МКФ, так лента "На уровне глаз" (Mzeris Doneze
            - Eye Level) - выиграла приз Нью-Йоркской киноакадемии на МКФ в Берлине - 2005, Специальный приз МКФ в
            Одессе, Дания, 2005. Его полнометражный игровой дебют "Другой берег" (2009) был показан на более 80 МКФ и
            получил 50 наград.
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <h2 style="text-align: center;">УЧАСТНИКИ 2011</h2>
    <hr>
    <br>
    <div>
        <h3 style="margin-left: 80px;">МЕЖДУНАРОДНЫЙ КОНКУРС</h3>
        <br>
        <ul style="list-style: none;">
            <li>1. Азербайджан – «ОДИН ШАГ» / 23 мин. / реж. Наргиз Багирзаде и Фариз Ахмедов</li>
            <li>2. Армения – «МАРШ-БРОСОК» / 30 мин. / реж. Арман Чилингарян</li>
            <li>3. Грузия – «КТО ВСЕ ПРИДУМАЛ» / 15 мин. / реж. Юрий Чирковский</li>
            <li>4. Казахстан – «МЕШОК» / 20 мин. / реж. Бегалы Шибикеев</li>
            <li>5. Кыргызстан - «ВОДА» / 15 мин. / реж. Алижан Насиров</li>
            <li>6. Россия – «МОРЕ ЖЕЛАНИЙ» / 27 мин. / реж. Шота Гамисония</li>
            <li>7. Таджикистан – «ЛЕТАТЬ ВЫСОКО» / 11 мин. / реж. Шарофат Арабова</li>
            <li>8. Узбекистан – «НАЗАР» / 28 мин. / реж. Умид Хамдамов</li>
            <li>9. Украина – «ИЗОЛЬДА» / 17 мин. / реж. Катерина Кучер</li>
            <li>10. Эстония – «НАДЕЖДА 3D» / 19 мин. / реж. Арко Окк</li>
        </ul>
        <br><br>
        <h3 style="margin-left: 80px;">НАЦИОНАЛЬНЫЙ КОНКУРС</h3>
        <br>
        <ul style="list-style: none;">
            <li>1. «САЗ» / реж. Бусурман Одуракаев / НК «Кыргызфильм» имени Т.Океева</li>
            <li>2. «СТАРИК» / реж. Марат Алыкулов / НК «Кыргызфильм» имени Т.Океева</li>
            <li>3. «БАКЫТ» / реж. Тынчтык Абылкасымов / НК «Кыргызфильм» имени Т.Океева</li>
            <li>4. «БАШНЯ» / реж. Айдос Токтобаев / Фонд Развития Кинематографа и КТУ «Манас»</li>
            <li>5. «МЕЛДЕШ» / реж. Нурлан Разакулов / Фонд Развития Кинематогрфа</li>
            <li>6. «ЭПОС» / реж. Гани Кудайберген / НК «Кыргызфильм» имени Т.Океева и КТУ «Манас»</li>
            <li>7. «БАЙПАК» / реж. Арген Кенеш / КТУ «Манас»</li>
            <li>8. «КАЙРАТ» / реж. Венера Джаманкулова / проект «Кыргызстан – Страна Короткометражных Фильмов»</li>
            <li>9. «НЕОКОНЧЕННЫЕ СНЫ» / реж. Тынчтык Акималиев / проект «Кыргызстан – Страна Короткометражных Фильмов»
            </li>
            <li>10. «ЖАМГЫР» / реж. Айгуль Баканова / проект «Кыргызстан – Страна Короткометражных Фильмов»</li>
            <li>11. «ТРОЕ ПОД ДОЖДЕМ» / реж. Айбек Дайырбеков / проект «Кыргызстан – Страна Короткометражных Фильмов»
            </li>
            <li>12. «БАБЬЕ ЛЕТО» / реж. Нурлан Абдыкадыров / проект «Кыргызстан – Страна Короткометражных Фильмов»</li>
            <li>13. «ГРАНИЦА» / реж. Асан Айтыкеев / «Кыргызтелефильм» имени Д. Садырбаева</li>
            <li>14. «ХЛЕБ, ЧАЙ, ИГРУШКА» / реж. Каната Сартов / проект «Кыргызстан – Страна Короткометражных Фильмов»
            </li>
            <li>15. «КАРДИОГРАММА» / реж. Жуманазар Койчубеков / Студия Эрнеста Абдыжапарова</li>
        </ul>
        <br>
    </div>
{% endblock %}