{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <h2 style="text-align: center;">Жюри 2012</h2>
    <hr>
    <br>
    <div class="block1">

        <div class="block2 group"><p><img src="{% static 'img/2012/vladimir.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ВЛАДИМИР ФЕНЧЕНКО, РОССИЯ <br>
                Режиссер, сценарист, актер. Председатель жюри </h4>

            Родился в Московской области 11 марта в 1946г. 
            Окончил МВТУ им.Э. Баумана, приборостроительный ф-т (1970), работал старшим научным сотрудником.
            Одновременно с этим являлся заместителем председателя Московского киноклуба "Экран". Окончил ВГИК,
            мастерскую Б.А.Альтшулера (1980). 1987-1993 гг. работал режиссером Редакции сатиры и юморац ентрального
            радио. Кинорежиссер, доцент ВГИКа , преподаватель ВКСиР, Независимой школы кино и телевидения. Член
            Союза кинематографистов России.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2012/alisa.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>АЛИСА ХМЕЛЬНИЦКАЯ, РОССИЯ <br>
                Режиссёр, сценарист
            </h4>
            Родилась в 23 февраля 1970 года в Санкт-Петербурге. Окончила ВГИК, киноведческий факультет, Высшие Курсы
            сценаристов и режиссеров, мастерская В. Меньшова. Автор сценария сериала «9 месяцев» (2006). Ее
            короткометражка «Бульвар» участвовала в конкурсной программе «Кинотавра» -2008. Ее первым полнометражным
            проектом стал фильм «Две женщины» с Ириной Розановой и Марией Шалаевой в главных ролях. Режиссер: «Без
            мужчин», (2011), «Трейлеры» Сценарист: «Любовь с акцентом», (2012), «Без мужчин» (2011), «М+Ж» (2009).
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2012/murat.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>МУРАТ АЛИЕВ, КЫРГЫЗСТАН<br>
                Кинооператор</h4>
            Постановщик высшей категории Национальной Киностудии «Кыргызфильм» им. Т.Океева. Член СК Кыргызской
            Республики
            и Республики Казахстан. Заслуженный деятель культуры КР.
             
            Фильмография:
            2012 г. - «Шал»,  2011 г. - «Чек ара»,  2010 -11 г. - «Урановый тайфун», 2009 - 10 г. - «Глазами призрака»,
            2008 г. - «Келин», 2007 г. - «Чтения Петрарки», 2007 г. - «Мустафа Шокай», 2006 г. - «Прощай, южный город»,
            2005 - 2006 г. - «Курак корпе», 2005 г. - «Кек», 2004 г. - «Ночной блюз», 2004 г. - «Дом у соленого озера»,
            2003 г. - «Облако», 1990 - 91 гг.  - «Великий шелковый путь», 1988 – 89 гг. - «Восхождение на Фудзияму» - 2,
            1985 - 86 гг. - «Снайперы», 1984 г. - «Первый», 1979 г. - «Весенняя радуга», 1978 г. - «Среди людей» и более
            50 игровых и документальных фильмов.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2012/vovnyanko1.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ИГОРЬ ВОВНЯНКО, КАЗАХСТАН <br>
                Режиссер, сценарист, оператор, актер</h4>
            Заслуженный деятель искусств Республики Казахстан. Председатель Союза кинематографистов Республики
            Казахстан. 
             
            Роли в кино: 
            1962 – «Перекресток» 
            Режиссер: 2011 - «Урановый тайфун»,  2004 – «Дом у солёного озера», 1992 – «Долина смерти», 1992 - «Господи,
            помилуй заблудших»,  1989 – «Маньчжурский вариант»,  
            Сценарист:
            2004 – «Дом у солёного озера», 1992         -«Долина смерти»,  1992 - «Господи, помилуй заблудших»,  
            1989 – «Маньчжурский вариант»
            Оператор:
            1986 – «Тайны мадам Вонг», «Тайны королевы пиратов», 1986 - «Полынь», 1983, 1984 – «Чокан Валиханов», 1982 –
            «Дыня», 1981 – «Год дракона», 1979 – «Щит города», 1978 - «Дон Кихот моего детства», 1977 – «Однажды и на
            всю жизнь», 1976 – «Третья сторона медали» и др.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2012/yalkyn.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ЯЛКЫН ТУЙЧИЕВ, УЗБЕКИСТАН <br>
                Кинорежиссер, драматург
            </h4>
            Родился 2 февраля 1977 года. В 1994 году окончил Ташкентский государственный институт искусств имени М.
            Уйгура. В 2000 году - Высшие курсы сценаристов и режиссеров в Москве (сценарный факультет). Дважды лауреат
            Гран-при молодежного фестиваля «Творческий полет». Участие на международном кинофестивале «Трех континентов»
            в Нанте. (Франция, 2005). Приз «Лучший полнометражный игровой фильм» на международном кинофестивале «Звезды
            Шакена» (Казахстан, 2006). Гран-при фестиваля и приз дистрибьюторов на Международном кинофестивале в городе
            Обирвелье (Франция, 2006). Гран-при конкурса «Перспектива» на 28 Московском Международном кинофестивале
            (Россия, 2006). Спецприз «За оригинальность» на международном кинофестивале в Везуле (Франция, 2006). В 2008
            году получил звание «Заслуженный деятель культуры Республики Узбекистан».

            </p>
        </div>
    </div>
 <br>
    <br>
    <br>
    <h2 style="text-align: center;">Участники 2012</h2>
    <hr>
    <br>
    <div>
        <h3 style="margin-left: 80px;">МЕЖДУНАРОДНЫЙ КОНКУРС</h3>
        <br>
        <ul style="list-style: none;">
            <li>1. Азербайджан - «МАЯК» / 29 мин. / реж. Фариз Ахмедов</li>
            <li>2. Армения - «СРЕДА ОБИТАНИЯ» / 21 мин. / реж. Гарик Машкорян</li>
            <li>3. Белоруссия - «В ТРАВЕ СИДЕЛ КУЗНЕЧИК» / 11 мин. / реж. Елена Алексане  </li>
            <li>4. Осознай» Грузия - «АРБУЗ» / 10 мин. / Тато Котетишвили</li>
            <li>5. Казахстан - «ОТРАЖЕНИЕ» / 28 мин. / Алмат Жаксылык  </li>
            <li>6. Кыргызстан - «ТЕЛЕГЕЙИ ТЕГИЗ» («Благодать») / 15 мин. / реж. Дальмира Тилепбергенова    </li>
            <li>7. Латвия - «ВСПОМНИ. ОСОЗНАЙ» / 10 мин. / реж. Артур Завгородний        </li>
            <li>8. Россия - «АКВАРЕЛЬ» / 14 мин. / реж. Елена Друмова              </li>
            <li>9. Узбекистан - «ПРУД» / 24 мин. / реж. Абдухалил Мигнаров        </li>
            <li>10. Украина – Россия - «ЛОМ» / 28 мин. / реж. Вероника Иванова    </li>
            <li>11. Эстония - «ДИСТАНЦИЯ» / 25 мин. / реж. Янно Юргенс            </li>
                               
        </ul>
        <br><br>
        <h3 style="margin-left: 80px;">НАЦИОНАЛЬНЫЙ КОНКУРС</h3>
        <br>
        <ul style="list-style: none;">
            <li>1. «БЕЗ НАДОБНОСТИ, ЗАЧЕМ ЕХАТЬ В ЗАРДАЛЫ?» / 22.30 мин. / реж. Абдулалим Мамадалиев</li>
            <li>2. «БЕЛЫЙ ХОЛСТ» / 9.17 мин. / реж. Толгобек Койчуманов</li>
            <li>3. «ДЕВУШКА И САКСАФОН» / 9 мин. / Андаш Назаркулов</li>
            <li>4. «ЖЫМЖЫРТ» («Тишина») / 15 мин. / реж. Наргиза Маматкулова</li>
            <li>5. «КӨРӨНГӨ» / 20 мин. / реж. Байсал Айманбет уулу</li>
            <li>6. «МОИСЕЙ: МОРЕ ВНУТРИ» / 15 мин. / реж. Эмил Атагельдиев</li>
            <li>7. «ПОЛЕТ НА НИБИРУ» / 18 мин. / Нурлан Абдыкадыров</li>
            <li>8. «РАССВЕТ» / 29 мин. / Нурлан Асанбеков</li>
            <li>9. «РОЖДЕНИЕ КУКЛЫ» / 20 мин. / Чынгыз Нарынов</li>
            <li>10. «САРЫ-ОЙ» / 18 мин. / реж. Адилет Каржоев</li>
            <li>11. «СООЛУГАН КАРЕК» / 22 мин. /реж. Суйун Откеев</li>
            <li>12. «УЗНИК» / 12 мин./ реж. Алмаз Зарылбек уулу</li>
            <li>13. «ФОТОГРАФ И КУКУРУЗА» / 8 мин. / реж. Санжар Абдыжапаров</li>
            <li>14. «ХОККЕЙ.КG» / 20.21 мин. / реж. Нурбек Болотов</li>
            <li>15. «ЧАЙКА» / 30 мин. / реж. Елизавета Стишова</li>
            <li>16. «ЧУВСТВО НА КАРТИНЕ» / 11 мин. / реж. Жылдызбек Разакулов</li>
        </ul>
        <br>
    </div>
{% endblock %}