{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <h2 style="text-align: center;">Жюри 2013</h2>
    <hr>
    <br>
    <div class="block1">

        <div class="block2 group"><p><img src="{% static 'img/2013/larisa.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ЛАРИСА САДИЛОВА, РОССИЯ <br>
                Режиссер, Председатель жюри</h4>
            В 1986 г. окончила актерский факультет ВГИК (мастерская С. Герасимова и Т. Макаровой). В кино дебютировала
            как актриса в 1984 «Лев Толстой», реж. С. Герасимов. В 1998 г. сняла в качестве режиссера дебютную
            черно-белую картину «С днем рождения!», получившую многочисленные призы фестивалей, в том числе «Кинотавр» в
            Сочи, МКФ в Мангейме, Котбусе, Братиславе, а так же Премию им. Жоржа Садуля фонда культуры Франции. Лауреат
            Приза Лучший сценарий на МКФ «Киношок» в Анапе, Приза «Тигр» на МКФ в Роттердаме (Нидерланды), Главного
            приза на МКФ в Брюсселе (Бельгия) за фильм «С любовью, Лиля» (2003). В 2013 г. новый фильм режиссера под
            названием «Она» получил главный приз За лучший игровой фильм фестиваля «Окно в Европу» в Выборге, Приз за
            Режииссуру и приз за Лучший фильм конкурсной программы 
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2013/rustam.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>РУСТАМ АХАДОВ, ТАДЖИКИСТАН <br>
                Член Союза кинематографистов России
            </h4>
            Родился в Таджикистане в 1958 г. Учился в ДГПИ им. Шевченко, 1979. В ЛИКИ учился два года. Лауреат премии
            «Ника» за звукорежиссуру фильм «Лунный папа», работал звукорежиссером до 1992 г.  в Таджик-фильме".
            Продюсер фильмов «Кинокомпания Арси-фильм» (Россия)
            «Требуется няня» - 2005 г.
            «Ничего личного» - 2007 г.
            «Сынок» - 2009 г.
            «Она» - 2013 г.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2013/artur.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>АРТУР ВЭБЕР, ЭСТОНИЯ <br>
                Продюсер, сценарист</h4>
            В 1988 году окончил Всесоюзный Государственный Институт Кинематографии (ВГИК) в Москве. Имеет степень
            Магистра изящных искусств; Организатор «Недель национальных кинематографий» в Таллинне, Эстония.
            Возглавляет студию KorelaFilm, специализирующуюся на развитии кинопроектов совместного производства
            Европейского Союза и стран Средней Азии, Кавказа и Дальнего Востока. 
            Его проекты участвовали: Cinemart (Роттердам, Нидерланды), Pusan Promotion Plan (Пусан, Корея), GoEast
            Co-Production Market (Висбаден, Германия), Connecting Cottbus (Коттбус, Германия) и др., а также получали
            гранты фондов Eurimages (Европейский Союз), AsianCinemaFund (Корея), GlobalFilmInitiative
            (США) и др.
            Наиболее значимые проекты последних лет:
            «Мандарины» (2013, совместное производство Грузии и Эстонии, режиссер ЗазаУрушадзе) - Награда на фестивале в
            Варшаве и Мангейме. Автор идеи, ко-продюсер.
            «Дом для Самал» - в производстве, режиссер Ялкин Туйчиев (Узбекистан). Ко-продюсер.
            «Маленький канатоходец» - в производстве.
            Съемки фильма частично проходят в Кыргызстане.
            С 16 по 20 апреля 2014 года в Таллинне пройдут Дни кино Кыргызстана.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2013/ruben.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>РУБЕН ЕРЗИНКЯН, АРМЕНИЯ <br>
                Режиссер, сценарист</h4>
            Член Союза театральных деятелей Армении,
            Член Конфедерации союзов кинематографистов,
            Член Союза друзей кино Армении.
            В 1980 г. окончил Армянский государственный педагогический институт им. Х. Абовяна
            Факультет Культуры, отделение режиссуры. В 1983 г. закончил аспирантуру Армянского государственного
            педагогического института им. Х. Абовяна.
            В 1984- 1992гг. работал режиссером в к/с «Арменфильм»
            С 1992г. по сей день работает зав. кафедрой Армянского государственного педагогического университета им. Х.
            Абовяна. Доцент.
            Режиссер фильмов:
            «Слово о меди»,
             «Схватка»,
             «Да будет свет»,
            «Паспорт в бессмертие»,
            «Яблоко Ньютона»,
            «Золотая рыбка»,
            «Позовешь маму»,
             «Важные гости», «Бумеранг», «Цветущие сады», «Айк»
            Автор сценариев: «Птичьий домик», «Земной рай»
            Участие в кинофестивалях, призы и награды:
            «Новые имена» (Армения),
            «Послание к человеку» (Россия)
            «Мы и наши фильмы» (Армения)
            «MEDIAWAVE» (Венгия)
            «Фирюзинские встречи» (Туркмения)
            «Кинофестиваль дружбы» (Армения-Россия),
            Сертификат об успешном окончании программы армянских кинорежиссеров, Филадельфия, Америка
            Золотая медаль имени Х. Абовяна,
            Золотая медаль имени Фритьофа Нансена

            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2013/ivan.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ИВАН ЛОПАТИН, РОССИЯ<br>
                Продюсер
            </h4>
            Член Союза Кинематографистов. Член Евразийской Киноакадемии. Руководитель направления по фестивальному
            продвижению. Молодежного центра Союза Кинематографистов РФ. Лауреат премий и фестивалей. Лауреат
            Царско-сельской художественной премии. Генеральный директор и учредитель кинокомпании ООО «Ливандия
            Энтертейнмент». Участник Producer Network in Cannes, Berlinale Talent Campus и многих других образовательных
            программ. Окончил Высшие Курсы Сценаристов и Режиссеров по специальности продюсер кино и телевидения,
            проходил обучение на киностудии Мосфильм.
            Продюсер фильмов: «F5», «Норма жизни», «Море желаний», «В путь», «Енмеш», «Мы не рабы» и др.

            </p>
        </div>
        <div class="block2 group"><p><img src="{% static 'img/2013/temir.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ТЕМИР БИРНАЗАРОВ, КЫРГЫЗСТАН <br>

                Режиссер
            </h4>
            Член Союза Кинематографистов КР. 1988-1994 – Окончил режиссёрский факультет Алматинского Института Театра и
            Кино 
            «Не плач, носорог!», «Чёртов мост», «Жайык», «Я жду тебя любимый мой», «Долг», «Неизвестный маршрут»,
            «Страсть»
            Постановка спектакля «Трамвай желание», «Карагул ботом».
            Участие в кинофестивалях и награды: Международный кинофестиваль в Клермонд - Ферранд, (Франция), Диплом
            Международного кинофестиваля в Вила-де-Конде (Португалия),
            МКФ Монтекатини «Серебряная Амфора» (Италия)
            Специальный приз на Международном фестивале документальных фильмов (Япония), Приз «Recherché»
            на Международном кинофестивале Клермонд-Ферранд, МКФ Франция Специальный молодёжный приз,
            Награды:
            Спец приз на МКФ Тегеране 2007,
             Спец. приз на МКФ Евразия 2008 (Казахстан),
            Спец. приз на МКФ (Греция)
            Лучший фильм года КР (2008).
            «Неизвестный маршрут» номинация на Российскую кинопремию «НИКА»
            «Страсть»:
            Специальный приз на кинофестивале «Киношок»
            Лауреат Гос. молодежной премии Кыргызской Республики.
            2004 - «Я жду тебя любимый мой» постановка спектакля в КГДТ    


            </p>
        </div>
    </div>
 <br>
    <br>
    <br>
    <h2 style="text-align: center;">Участники 2013</h2>
    <hr>
    <br>
    <div>
        <h3 style="margin-left: 80px;">МЕЖДУНАРОДНЫЙ КОНКУРС</h3>
        <br>
        <ul style="list-style: none;">

            <li>1. Армения - «АЛХАС И ДЖУЛЬЕТТА» / 27 мин. / реж. Ашот Кещян</li>
            <li>2. Азербайджан - «САКУРА» / 30 мин. / реж. Новруз Хикмет</li>
            <li>3. Белоруссия - «АЛМАЗ» / 30 мин. / реж. Виктор Аслюк</li>
            <li>4. Грузия - «ПОКОЛЕНИЕ ВОЙНЫ» / 30 мин. / реж. Давид Пипиа</li>
            <li>5. Казахстан - «ОТЕЦ» / 20 мин. / реж. Айнур Исмаилова</li>
            <li>6. Кыргызстан - «ЗЕФИР» / 11 мин. / реж. Наргиза Маматкулова</li>
            <li>7. Латвия - «УРСУС» / 11 мин. / реж. Рейнис Питерсон</li>
            <li>8. Молдова - «АНА» / 25 мин. / реж. Наталья Шауферт</li>
            <li>9. Узбекистан - «СУНДУК» / 15 мин. / реж. Сабина Сагадеева</li>
            <li>10. Украина - «ВАНЯ» / 10 мин. / реж. Оксана Артеменко</li>
            <li>11. Россия - «СУБСТАНЦИЯ: МОЛОКО» / 18 мин. / реж. Наталья Меркулова</li>
            <li>12. Таджикистан - «МЕЖДУ» / 24 мин. / реж. Шарофат Арабова</li>
            <li>13. Эстония - «РОЖДЕНИЕ ОРАКУЛА» / 10 мин. / реж. Рао Хейдметс</li>
                               
        </ul>
        <br><br>
        <h3 style="margin-left: 80px;">НАЦИОНАЛЬНЫЙ КОНКУРС</h3>
        <br>
        <ul style="list-style: none;">

            <li>1. «БАЛЕТ-МОЯ ЛЮБОВЬ» / 12 мин. / реж. Кундуз Ахмеджанова</li>
            <li>2. «БОГИ» / 10 мин. / реж. Эркин Нурбаев</li>
            <li>3. «БУДИЛЬНИК» / 25 мин. / реж. Владимир Чернявский</li>
            <li>4. «СТАРАЯ ДЕВА» / 20 мин. / реж. Алижан Насиров</li>
            <li>5. «ИНТРОЛИБРИУМ» / 21 мин. / реж. Даурен Камшибаев</li>
            <li>6. «ОБРАЗ» / 14 мин. / реж. Бегайым Алмазбекова</li>
            <li>7. «ОГ З АЯЛ» / 18 мин. / реж. Нуржамал Карамолдоева</li>
            <li>8. «ПЕРЕВАЛИВШИЙ ЧЕРЕЗ ВЕКА НАРОД» / 28 мин. / реж. Марсбек Бусурманкулов</li>
            <li>9. «ПЕРЕГОН» / 23 мин. / реж. Руслан Акун</li>
            <li>10. «ТАКИЕ КАК МЫ» / 24 мин. / реж. Евгения Головко</li>

        </ul>
        <br>
    </div>
{% endblock %}