{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <h2 style="text-align: center;">Жюри 2014</h2>
    <hr>
    <br>
    <a href="{% static 'img/katalog/2014.pdf' %}"><h4
            style="text-align: right; color: blue; text-decoration: underline;">Каталог 2014</h4></a>
    <div class="block1">

        <div class="block2 group"><p><img src="{% static 'img/2014/hodjakuli.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ХОДЖАКУЛИ НАРЛИЕВ РОССИЯ <br>
                Режиссер, Председатель жюри </h4>
            Лауреат Государственной премии СССР (1973), лауреат международных кинофестивалей в Локарно, Венеции и
            Сорренто. Кинорежиссер, сценарист и оператор. В 1960 году окончил опера­торский факультет ВГИКа.
            Классик туркменского кинемато­графа, Ходжакули Нарлиев является по­становщиком фильмов «Невестка»,
            «Птица-память», «Дерево Джамал», «Голос матери» и др. Более 20 лет он возглавлял Союз кинематографистов
            Туркменской ССР, работал на кино­студии «Туркменфильм». В настоящее время Ходжакули Нарлиев является членом
            президиума Российской ака­демии кинематографических искусств «Ника».
            Фильмография оператора: «Со­стязание» (1964), «Утоление жажды» (1967), «Рабыня» (1970). Постановщик фильмов:
            «Невестка» (1972), «Когда женщина оседлает коня» (1975), «Фра­ги — разлучённый со счастьем» (1985),
            «Манкурт» (1990) и др. Для творчества Нарлиева характерны лаконизм стиля, психологизм, слияние лирики и
            драма­тизма.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2014/gulnura.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ГУЛЬНАРА АБИКЕЕВА, КАЗАХСТАН <br>
                Киновед, кинокритик, доктор искусствоведения, член ФИПPЕССИ (Международной федерации кинокритиков) и
                НЕТПАК (Ассоциации по промоушену азиатского кино).
            </h4>
            В 1984 году окончила киноведческий факультет ВГИК.
            В 1992 - 1994 гг. в качестве главного редактора возглавила журнал
            «Азия-кино» в Алматы. В 1994—1996 создавала ряд телепередач по кино. С 1997 года координатор программы
            «Культура и искусство» Международного фонда «Сорос-Казахстан». В течение многих лет была арт-директором МКФ
            «Евразия» (Казахстан).
            В качестве фулбрайтовского стипендиата в 2001—2002 гг. в США читала курс лекций в Боудоин колледж совместно
            с профессором Джейн Нокс-Воина и спецкурс для магистрантов Питтсбургского университета по кинематографу и
            культуре Центральной Азии. А также выступала с лекциями в Гарварде, Йеле (2002), Стэнфорде (2004), Тафтском
            университете (2007).
            Являлась членом жюри на МКФ в Оберхаузене, Анапе, Карловых Варах, Коттбусе, Висбадене, Дженджу и Берлине.
            Автор десяти книг по вопросам развития казахстанского, центрально-
            азиатского и мирового кино, За книгу «Кино Центральной Азии» она была удостоена премии «Белый слон» Гильдии
            киноведов и кинокритиков России (2001). За книгу «Нациостроительство в Казахстане и других странах
            Центральной Азии, и как тот процесс отражается в кинематографе» — премией «Кулагер» (2007) Союза
            кинематографистов Казахстана, как лучшая киноведческая работа года.

            </p>
        </div>

        {#        <div class="block2 group"><p><img src="{% static 'img/2014/' %}"#}
        {#                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">#}
        {#            <h4>АРТЫКПАЙ СУЮНДУКОВ, КЫРГЫЗСТАН <br>#}
        {#                Кинорежиссер, сценарист, педагог, Заслуженный деятель культуры КР, ла­уреат многих международных#}
        {#                кинофе­стивалей. </h4>#}
        {#            В 1988 году окончил Всесоюзный Государственный Институт Кинематографии (ВГИК) в Москве. Имеет степень#}
        {#            Магистра изящных искусств; Организатор «Недель национальных кинематографий» в Таллинне, Эстония.#}
        {#            Возглавляет студию KorelaFilm, специализирующуюся на развитии кинопроектов совместного производства#}
        {#            Европейского Союза и стран Средней Азии, Кавказа и Дальнего Востока. #}
        {#            Его проекты участвовали: Cinemart (Роттердам, Нидерланды), Pusan Promotion Plan (Пусан, Корея), GoEast#}
        {#            Co-Production Market (Висбаден, Германия), Connecting Cottbus (Коттбус, Германия) и др., а также получали#}
        {#            гранты фондов Eurimages (Европейский Союз), AsianCinemaFund (Корея), GlobalFilmInitiative#}
        {#            (США) и др.#}
        {#            Наиболее значимые проекты последних лет:#}
        {#            «Мандарины» (2013, совместное производство Грузии и Эстонии, режиссер ЗазаУрушадзе) - Награда на фестивале в#}
        {#            Варшаве и Мангейме. Автор идеи, ко-продюсер.#}
        {#            «Дом для Самал» - в производстве, режиссер Ялкин Туйчиев (Узбекистан). Ко-продюсер.#}
        {#            «Маленький канатоходец» - в производстве.#}
        {#            Съемки фильма частично проходят в Кыргызстане.#}
        {#            С 16 по 20 апреля 2014 года в Таллинне пройдут Дни кино Кыргызстана.#}
        {#            </p>#}
        {#        </div>#}

        <div class="block2 group"><p><img src="{% static 'img/2014/sharofat.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ШАРОФАТ АРАБОВА, ТАДЖИКИСТАН <br>
                Кинорежиссер, культуролог, историк кино, член Союза кинематографистов Тад­жикистана, Союза дизайнеров
                Таджикиста­на. </h4>
            Научный сотрудник Отдела новейшей истории Института истории, археологии и этнографии им.А.Дониша Академии
            наук Республики Таджикистан.
            Окончила Отделение КФИМО Рос­сийско-Таджикского (славянского) Уни­верситета в 2006 г. В 2006-2007 гг.
            являлась спец. корреспондентом общественно-по­литической газеты «Бизнес & политика». С 2008 по 2013 гг.
            обучалась кинорежиссуре в Индийском Институте кино и телевидения (FTII) в Пуне. Является выпускницей
            Ази­атской киноакадемии (AFA, 2012) в Бусане, Летней киноакадемии Н.Михалкова (ЛКМ, 2013) в Москве,
            Berlinale Talents (2014) в Берлине. Обладатель призов десятки МКФ и победительница III МКФ «Кыргызстан –
            страна короткометражных фильмов»
            Фильмы: - «Тасфия» (п/м, 2014), «Серж» (2013), «Между» (2013), «Летать высоко» (2010), «Страны, которой нет
            и не будет» (2010), «Суженый» (2011).
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2014/sardana.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>САРДАНА САВВИНА, РОССИЯ <br>
                Представитель МКФ в Якутске, промо­утер якутского кино.
            </h4>
            В 2012 г. на общественных началах организовала в городе Якутске - Кино­клуб, целью которого является
            пропаганда и продвижение молодого якутского кино, просмотр и обсуждение фильмов совмест­но с авторами и
            зрителями. Является орга­низатором и ведущей данного мероприя­тия; ведет страницы Якутского Киноклуба в
            социальных сетях Facebook, VK.
            Автор и редактор сайта, посвященно­го якутскому кино: www.sakhamovies.com., также работает над продвижением
            пер­вого он-лайн кинотеатра якутского кино -
            www.sakhamovie.ru, где ведет страницу якутского киноклуба http://www.sakhamovie. ru/kinoclub/.
            С 2013 г. работает программным кура­тором и одним из организаторов Якутского международного кинофестиваля.
            В ноябре 2011 года вывозила в Кана­ду на фестиваль “ImagineNATIVE” худо­жественный фильм С. Потапова «Покуда
            будет ветер» и документальный фильм М. Калининой «По дороге к солнцу»;
            - участник двух международных ки­нофестивалей тюркского кино (Turkuaz Cinema) в г.Эскишехир, г.Стамбул
            (Турция); в данное время работает над организацией конкурсной программы стран тюркского мира на Якутском
            МКФ;
            - Занимается переводами субтитров якутских фильмов с якутского на англий­ский языки.

            </p>
        </div>
        <div class="block2 group"><p><img src="{% static 'img/2014/anna.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>АННА ЛЕОНЕНКО, ГЕРМАНИЯ <br>
                Член правления Ассоциации Берлин­ских кинофестивалей «Фестивельт», со­организатор Недели российского
                кино в Берлине.
            </h4>
            Анна Леоненко родилась и выросла в Москве, по образованию журналист и экс­перт по связям с общественностью.
            В 90-е годы работала в различных московских СМИ, писала о кино. В 2004 году переехала в Германию, где в
            рамках работы в одном из крупнейших PR-агентств fischerAppelt Kommunikation проводила PR-кампанию
            Московского международного кинофе­стиваля в Европе. С 2005 года является соорганизатором Недели российского
            кино в Берлине. В 2009 году с группой единомышленников основала Ассоциацию берлинских кинофестивалей
            «Festiwelt“, членом правления которой неизменно яв­ляется с тех пор. В настоящее время Анна возглавляет
            агентство Mediaost Events & Kommunikation, которое занимается орга­низацией и продвижением культурных и
            образовательных проектов в Европе.

            </p>
        </div>
    </div>
 <br>
    <br>
    <br>
    <h2 style="text-align: center;">Участники 2014</h2>
    <hr>
    <br>
    <div>
        <h3 style="margin-left: 80px;">МЕЖДУНАРОДНЫЙ КОНКУРС</h3>
        <br>
        <ul style="list-style: none;">

            <li>1 Азербайджан - «ОТРАЖЕНИЕ» / 25:42 мин. / мистика / реж. Айшад Сафаралиев</li>
            <li>2 Армения – «ЗИАЗАН» / 14:39 мин. / драма / реж. Дерья Дурмаз</li>
            <li>3 Белоруссия – «ОКСИТОЦИН» / 9 мин. / драма / реж. Вадим Агеев</li>
            <li>4 Казахстан – «ШОЛПАН» / 21:32 мин. / драма / реж. Айдос Сейтжан</li>
            <li>5 Кыргызстан – «ЛИФТ» / 8 мин. / драма / реж. Асан Джанталиев</li>
            <li>6 Латвия – «ЗА ШКАФОМ» / 9:12 мин. / драма / реж. Лариса Щукина</li>
            <li>7 Молдова – «МЕЖДУ ЭДИСОНОМ И ТЕСЛА» / 10:52 мин. / драма / реж. Мирча Бобынэ</li>
            <li>8 Россия – «КАЖДЫЙ ПЕРВЫЙ» / 26:00 мин. / трагикомедия / Николай Котяж</li>
            <li>9 Таджикистан – «БЕЛЫЙ ВОРОБУШЕК» / 20 мин. / драма / реж. Диловар Султонов</li>
            <li>10 Туркменистан - «АХ, ВЕЛИ, ВЕЛИ…» / 30 мин. / драма / реж. Бюль-Бюль Мамедов</li>
            <li>11 Узбекистан - «ДОМ №16» / 17:47мин. / драма / реж. Азиз Ахмеджанов</li>
            <li>12 Украина – «ГОСТИ МОЕГО ДОМА» / 5 мин. / драма / реж. Олег Федченко</li>
            <li>13 Эстония – «95» / 15:16 мин. / драма / Харди Кеэрутая</li>

                               
        </ul>
        <br><br>
        <h3 style="margin-left: 80px;">НАЦИОНАЛЬНЫЙ КОНКУРС</h3>
        <br>
        <ul style="list-style: none;">

            <li>1. «О МЕЧТАХ И ЛЮДЯХ» / 4:18 мин. / анимация / реж. Даниил Черепков</li>
            <li>2. «МУГАЛИМ» / 9:20 мин. / драма / реж. Бексултан Абибакир уулу</li>
            <li>3. «ЖЕНА МОЕГО ОТЦА» / 21 мин. / драма / реж. Венера Жаманкулова</li>
            <li>4. «ИНТЕРВЬЮ» / 16:30 мин. / мистика / реж. Райымбек кызы Гулмира</li>
            <li>5. «ГРАНИЦА» / 20 мин. / док.ф. / реж. Асель Жураева</li>
            <li>6. «ФИЗРУК, ЗОЛОТО И РЕКА» / 28 мин. / док.ф. / реж. Аманбек Ажымат</li>
            <li>7. «ОЖИДАНИЕ» / 15:28 мин. / мелодрама / реж. Айбек Кумашалиев</li>
            <li>8. «ПО СЛЕДАМ ХИЩНИКА» / 32 мин. / док.ф. / реж. Азамат Арыков</li>
            <li>9. «ПРАХ ЗЕМНОЙ» / 20 мин. / драма / реж. Чолпонай Борубаева</li>
            <li>10. «ПЕТЛЯ» / 17 мин. / драма / реж. Нурлан Мирзаматов</li>

        </ul>
        <br>
    </div>
{% endblock %}