{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <h2 style="text-align: center;">Жюри 2015</h2>
    <hr>
    <br>
    <a href="{% static 'img/katalog/2015.pdf' %}"><h4
            style="text-align: right; color: blue; text-decoration: underline;">Каталог 2015</h4></a>
    <div class="block1">

        <div class="block2 group"><p><img src="{% static 'img/2015/ali.jpg' %}"
                                          style="float: left; width: 350px; height: 300px; margin-right: 20px; margin-bottom: 20px;">
            <h4>АЛИ ХАМРАЕВ, УЗБЕКИСТАН <br>
                Советский кинорежиссёр, сценарист. Председатель жюри</h4>
            Заслуженный деятель искусства Узбекистана. Лауреат государственной премии Узбекской ССР им. Хамзы. Родился в
            1937 г. в городе Ташкент, Узбекская ССР. В 1961 г. окончил ВГИК. Многие фильмы режиссёра были посвящены
            эпохе Гражданской войны, борьбе с басмачеством: «Чрезвычайный комиссар» (1970), «Седьмая пуля» (1972).
            Исторический фильм «Человек уходит за птицами» (1975) был удостоен премии на Всесоюзном кинофестивале за
            изобразительное искусство и премии «Серебряный павлин» за режиссуру на VI МКФ (1977) в Дели. Драма о
            послевоенной жизни «Триптих» (1979) получила Гран-при на фестивале в Сан-Ремо. В 1979 г. режиссёр вернулся к
            теме Гражданской войны, сняв вестерн «Телохранитель». Его последним фильмом, снятым в СССР стал «Сад
            желаний»
            (1987).
            Хамраев несколько раз был в Афганистане, в 1998 г. снял документальный фильм о генерале Абдул-Рашиде
            Дустуме, одном из лидеров антиталибского Северного альянса. В 1998 г. на экраны вышел новый игровой фильм
            Хамраева «Бо Ба Бу», который получил «Золотую стрелу» — главный приз на фестивале «Лики любви».
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2015/skachannye.jpg' %}"
                                          style="float: left; width: 250px; height: 300px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ТАЛИП ИБРАИМОВ, КЫРГЫЗСТАН <br>
                Драматург, сценарист, прозаик.
            </h4>
            Заслуженный деятель культуры КР, 1991. Академик Киноакадемии Кыргызстана, 2002.
            Родился в 1940 году в селе Сары-Булак Калининского района Киргизской ССР. Окончил филологический факультет
            Киргизского государственного университета, позже – высшие курсы сценаристов и режиссёров в
            Москве. Больше тридцати лет проработал редактором на киностудии «Кыргызфильм». Преподаёт драматургию на
            открывшихся в 2007 году в Бишкеке курсах кинематографистов. Прозу начал писать несколько лет назад, выйдя на
            пенсию. В 2006 году стал лауреатом международного литературного конкурса
            «Русская Премия» – в номинации «Малая проза» (за сборник повестей «Старик и Ангел»). Автор сценария
            «Среди людей», (1978) реж. Б. Шамшиев и А. Суюндуков - Лауреат XI Всесоюзного кинофестиваля, г. Ашхабад
            (1979г.), «Деревенская мозаика», «Верить и знать», Лауреат фестиваля телевизионных фильмов, г.Минск
            (1986г.). Автор множества публицистических, искусствоведческих статей, опубликованных в местной печати с
            1974 года по настоящее время. Некоторые статьи публиковались в изданиях Москвы и Парижа.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2015/sergei.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>СЕРГЕЙ АЗИМОВ, КАЗАХСТАН <br>
                Советский и казахстанский кинорежиссёр. </h4>
            Член Союза кинематографистов СССР, 1982. Лауреат премии Ленинского комсомола Казахстана (1990), Заслуженный
            деятель Казахстана (1996).
            Родился в 1954 г. в городе Нукус Каракалпакской АССР. С 1970 г. литературный сотрудник районной газеты,
            помощник, ассистента режиссёра студии «Казахтелефильм». В 1973 – 1978 гг. учился во Всесоюзном
            государственном институте кинематографии в режиссёрском отделении документального кино, в мастерской Р. Л.
            Кармена.
            Азимов создал документальные фильмы «Интервал» (1982), «Кольцо» (1983), «Жоктау», «Хроника мёртвого моря»
            (1989—1990), отмеченные на Всесоюзных и Международных кинофестивалях. Автор сценария фильма «Ровесник
            Республики» в соавторстве с Б. Каирбековым, Р. Альпиевым (1999). В 1993—1996 гг. независимый продюсер,
            кинорежиссёр. С 1996—1997 гг. заведующий сектором пресс-службы Президента Республики Казахстан. В 1997-2001
            гг. заместитель генерального директора, исполнительный директор филиала «Телерадиокомплекс Президента РК» в
            Алма-Ате. Азимов совместно с Б. Каирбековым выпустил первую группу режиссёров-документалистов в Казахской
            национальной академии искусств им. Т. Жургенова. В 2001—2002 гг. главный продюсер ТПО-I ЗАО «Агентство
            «Хабар». С мая 2002 по ноябрь 2007 г. генеральный директор РГКП «Национальная компания «Казахфильм» им. Ш.
            Айманова.
            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2015/prokofyev.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ВИКТОР ПРОКОФЬЕВ, РОССИЯ <br>
                Киновед, специалист по короткометражному кино.</h4>
            Закончил ВГИК, мастерскую Л.А. Зайцевой по специальности «Киноведение» в 2010 году. Дважды был награжден на
            фестивале ВГИК — как молодой журналист (2006) и за продюсерскую работу в короткометражном фильме (2011).
            Руководил отделом конкурсных программ на фестивале ВГИК (2007-2010). Публиковался в изданиях, являлся
            главным редактором нескольких профессиональных сайтов о кино. С 2007 года курирует конкурс короткометражных
            фильмов Открытого фестиваля стран СНГ, Латвии, Литвы и Эстонии «Киношок». С 2008 года — программный директор
            крупнейшего российского фестиваля студенческих и дебютных фильмов «Святая Анна». Составлял кураторские
            программы короткометражных фильмов для российских фестивалей: ММКФ, «Зеркало», «Восток — Запад», «Земля
            отцов», а также зарубежных — в Берлине, Бордо, Риге и других международных кинофорумах. Входит в комитет
            отборочной комиссии международных фестивалей в Гамбурге и Оберхаузене. С 2014 года составляет программы
            кинопоказов в московском Доме Кино Союза Кинематографистов РФ. Аспирант ВГИК, работает над кандидатской
            диссертацией о становлении и развитии российского короткометражного фильма.

            </p>
        </div>

        <div class="block2 group"><p><img src="{% static 'img/2015/elizavetta.jpg' %}"
                                          style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <h4>ЕЛИЗАВЕТА СТИШОВА, РОССИЯ <br>
                Режиссер, Лауреат III МКФ «Кыргызстан-страна короткометражных фильмов» за «Лучшую Режиссуру»
            </h4>
            Училась в ГИТИСе в 1997-2001 гг. Работала в театре Школа драматического искусства, в лаборатории Юхананова.
            В 2007-2009 гг. училась на высших курсах режиссеров и сценаристов, мастерская Меньшова. Дипломный фильм
            «Чайка» отмечен большим количеством наград, первый приз получил на фестивале «Кыргызстан-страна
            короткометражных фильмов», за режиссуру, а так же Гран-при фестиваля
            «Киношок».
            Летом 2015 основала кинокопманию «Нерпа фильм». Осенью 2015 «Нерпа-фильм» и «Инфильм» сняли короткометражный
            фильм Алисы Хмельницкой «Сухое море» в Архангельской области.
            Зимой 2015 года приступит к съемкам документального фильма о русском севере совместно с Денисом Синяковым. В
            данное время ставит спектакль «Вторсырье из меха», премьера назначена на конец января 2016. Готовится к
            съемкам фильма «Сулейман гора» съемки которого должны проходить в Кыргызстане летом 2016 года.

            </p>
        </div>
        <div class="block2 group"><p><img src="{% static 'img/2013/temir.jpg' %}"
                                          style="float: left; width: 250px; height: 300px; margin-right: 20px; margin-bottom: 20px;">
            <h4>АННА ГОРОЯН, АРМЕНИЯ <br>
                Режиссер, сценарист, продюсер.
            </h4>
            Родилась в 1981г. в г. Грозном. Снимает игровое и документальное кино. Прежде чем прийти во ВГИК, получила
            два образования (Физико-математическое и лингвистическое), сменила несколько профессий. Окончила
            режиссерский факультет ВГИК (Мастерская А.А. Прошкина). Фильм Анны Гороян «Доктор» участвовал более, чем в
            20 международных фестивалях, в том числе в Каннском, и получил 15 наград. Такие, как «Лучший
            короткометражный фильм», «Лучшая режиссерская работа», «Лучший сценарий», «Лучшая актерская работа» и
            другие.
            Анна была членом жюри Российско-Итальянского кинофестиваля (RIFF). С 2006г. руководит продюсерской компанией
            «Студия идей», которая занимается производством художественных, документальных фильмов, рекламы и другой
            видео продукции.
            Фильмография: «Лед тронулся!» (2013г.), «Та-
            кое разное детство» (2013г.), «Доктор» (2014г.)

            </p>
        </div>
    </div>
 <br>
    <br>
    <br>
    <h2 style="text-align: center;">Участники 2015</h2>
    <hr>
    <br>
    <div>
        <h3 style="margin-left: 80px;">МЕЖДУНАРОДНЫЙ КОНКУРС</h3>
        <br>
        <ul style="list-style: none;">


            <li>1. Азербайджан – «СТАРЫЕ ЧАСЫ» / 8 мин. / анимация / реж. Джавид Ахадов</li>
            <li>2. Армения – «И ЦИРК ПРИЕХАЛ... » / 21 мин. / драма / реж. Гуж Тадевосян</li>
            <li>3. Беларусия – «ОДНОЙ КРОВИ» / 15 мин. / драма / реж. Митрий Семенов-Алейников</li>
            <li>4. Грузия – «РЕДКАЯ ПОРОДА» / 30 мин. / док.ф. / реж. Давит Пипиа</li>
            <li>5. Казахстан – «ЛУЧ УТРЕННЕЙ ЗАРИ» / 22 мин. / драма / реж. Дархан Тулегенов</li>
            <li>6. Кыргызстан – «ДЕТИ ЧИСТОТЫ» / 10 мин. / док. ф. / реж. Гузель Дуйшенкулова</li>
            <li>7. Латвия – «СПИРАЛЬ МОРАЛИ И ВОЙНЫ» / 6:28 мин. / игровой / реж. Артур Завгородний</li>
            <li>8. Литва – «ПОПУТЧИКИ» / 17 мин. / док. ф. / реж. Линас Микута</li>
            <li>9. Узбекистан – «КАК БУДТО ТАК И НАДО» / 14:08 мин. / док. ф. / реж. Христина Белоусова</li>
            <li>10. Украина – «СЫН» / 16 мин. / драма / реж. Филип Сотниченко</li>
            <li>11. Россия / Сингапур – «НЕ НА ТУ ЛОШАДЬ» / 9:30 мин. / драма / реж. Максим Дашкин</li>
            <li>12. Таджикистан / Афганистан – «КАПЛЯ» / 7:38 мин. / драма / реж. Мурод Туйчиев</li>
            <li>13. Эстония / Россия / Кыргызстан – «ПРОЩАЛЬНЫЕ ГАСТРОЛИ» / 30 мин. / драма / реж. Татьяна Мюльбайер</li>


                               
        </ul>
        <br><br>
        <h3 style="margin-left: 80px;">НАЦИОНАЛЬНЫЙ КОНКУРС</h3>
        <br>
        <ul style="list-style: none;">

            <li>1. «О МЕЧТАХ И ЛЮДЯХ» / 4:18 мин. / анимация / реж. Даниил Черепков</li>
            <li>2. «МУГАЛИМ» / 9:20 мин. / драма / реж. Бексултан Абибакир уулу</li>
            <li>3. «ЖЕНА МОЕГО ОТЦА» / 21 мин. / драма / реж. Венера Жаманкулова</li>
            <li>4. «ИНТЕРВЬЮ» / 16:30 мин. / мистика / реж. Райымбек кызы Гулмира</li>
            <li>5. «ГРАНИЦА» / 20 мин. / док.ф. / реж. Асель Жураева</li>
            <li>6. «ФИЗРУК, ЗОЛОТО И РЕКА» / 28 мин. / док.ф. / реж. Аманбек Ажымат</li>
            <li>7. «ОЖИДАНИЕ» / 15:28 мин. / мелодрама / реж. Айбек Кумашалиев</li>
            <li>8. «ПО СЛЕДАМ ХИЩНИКА» / 32 мин. / док.ф. / реж. Азамат Арыков</li>
            <li>9. «ПРАХ ЗЕМНОЙ» / 20 мин. / драма / реж. Чолпонай Борубаева</li>
            <li>10. «ПЕТЛЯ» / 17 мин. / драма / реж. Нурлан Мирзаматов</li>

        </ul>
        <br>
    </div>
{% endblock %}