{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %}

{% endblock %}

{% block content %}



    {##}
    {#    {% for new in news %}#}
    {##}
    {#        <div class="img-responsive">#}
    {#            {% if new.newsimage_set.all %}#}
    {#                {% for item in new.newsimage_set.all %}#}
    {#                    <a href="{{ new.get_absolute_url }}"><img src="/media/{{ MEDIA_URL }}{{ item.image }}"#}
    {#                                                              alt="image"> </a>#}
    {#                {% endfor %}#}
    {#            {% endif %}#}
    {##}
    {#            <a href="{{ new.get_absolute_url }}"><p>{{ new.title }}</p></a>#}
    {#            <p>{{ new.description|truncatewords:10 }}</p>#}
    {#            <p><a href="{{ new.get_absolute_url }}" class="btn btn-primary" role="button">Узнать#}
    {#                подробнее</a></p>#}
    {##}
    {#        </div>#}
    {##}
    {#    {% endfor %}#}


    <div class="row">

        {% for new in news %}
            <div class="blog-outer">
                <div class="shadow-wrapper">
                    {% if new.newsimage_set.all %}
                        {% for item in new.newsimage_set.all %}
                            <div class="hover_img">
                                <img src="/media/{{ MEDIA_URL }}{{ item.image }}" alt="">

                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="blog-wrap">

                    <a href="{{ new.get_absolute_url }}" class="blog-title">{{ new.title }}</a>
                    <p>{{ new.description }}</p>
                     <p style="margin-top: 5px;"><a href="{{ new.get_absolute_url }}"
                                                               class="btn btn-primary">Узнать больше<i
                                        class="fa fa-long-arrow-right"></i></a></p>

                </div>
            </div>
        {% endfor %}
    </div>




{% endblock %}
