
@font-face {
    font-family: "TimesNewRomanRegular";
    src: url("../fonts/TimesNewRomanRegular.eot");
    src: url("../fonts/TimesNewRomanRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/TimesNewRomanRegular.woff") format("woff"),
    url("../fonts/TimesNewRomanRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	font-family: "TimesNewRomanRegular", serif !important;
}

.hover_img {

	margin: 10px 25px 25px 0;
}

.blog-outer {

	margin-bottom: 40px;
	margin-top: 20px;
}

.shadow-wrapper {
	vertical-align: top;
	display: inline-block;
}

.blog-wrap {
	vertical-align: top;
	width: 500px;
	display: inline-block;
}

.grid {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 80px;
}

.group::before,
.group::after {
    content: "";
    display: table;
}

.group::after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

h5{
	font-family: "GothamProBold", sans-serif;
	font-size: 18px;
	text-align: center;
}

.main{
	display: inline-block;
	width: 1000px;
	text-align: left;
	word-break: keep-all;;
	/*font-size: 0;*/
}

.main li{
	font-family: "GothamProRegular", sans-serif;
	font-size: 16px;
	color: #000;
	margin: 10px 0;
}

.block{
	float: left;
	width: 400px;

	margin-top: 20px;
}

.block:last-child{
	border-left: 0;
}

.zag{
	padding: 5px 30px;
}

.block ul{
	/*padding-left: 20px;*/
}

/*li.group{
	margin-top: -10px;
}*/

footer{
	background-color: darkgray;

}

footer .grid{
	padding-bottom: 10px;
}

.contacts{
	font-family: "OpenSansRegular", sans-serif;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-top: 20px;
	color: white;

}

footer p{
	font-family: "GothamProMedium", sans-serif;
	font-size: 11px;
	margin-top: 40px;
	-ms-text-align-last: right;

}

.container2 > li {
	margin: 5px 10px 5px 10px;
}

.block3 {
	margin: 40px 0;
	text-align: center;
}

.group::before,
.group::after {
   content: "";
   display: table;
}.group::after {
   clear: both;
}.group {
   clear: both;
   *zoom: 1;
}

 .nurslide {
	 margin: 0 auto;
	 width: 717px;


 }



.block2 {
	margin-top: 35px;
}

.slick-prev, .slick-next{
  z-index: 1001;
  width: 32px;
  height: 32px;
}.slick-prev:before, .slick-next:before {
 font-size: 32px;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}.slick-prev{
 left: 25px;

}.slick-next{
   right: 25px;
}