{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %}

{% endblock %}

{% block content %}

    <h1 style="text-align: center">Список нашей команды </h1>
    <div style="text-align: center; width: 530px; margin: 0 auto;">
    <h5 style="text-align: left;"><strong>Садык Шер-Нияз</strong> - Руководитель проекта </h5>
    <h5 style="text-align: left;"><strong>Фархад Бекманбетов</strong> - Директор фестиваля</h5>
    <h5 style="text-align: left;"><strong>Бакытбек Турдубаев</strong> - Главный редактор</h5>
    <h5 style="text-align: left;"><strong>Гульбара Толомушева</strong> - Арт-директор фестиваля</h5>
    <h5 style="text-align: left;"><strong>Акжол Бекболотов</strong> - Руководитель мультимедиа</h5>
    <h5 style="text-align: left;"><strong>Чолпон Идрисова</strong> - Координатор, PR-менеджер</h5>
    <h5 style="text-align: left;"><strong>Ника Жолдошева</strong> - Программный менеджер</h5>
    <h5 style="text-align: left;"><strong>Элдияр Мадаким</strong> - Режиссер мультимедиа, Дизайнер</h5>
    <h5 style="text-align: left;"><strong>София Допплер</strong> - Организатор</h5>
    <h5 style="text-align: left;"><strong>Медина Усупбекова</strong> - Организатор</h5>
    <h5 style="text-align: left;"><strong>Калыбек Шерниязов</strong> - Организатор</h5>
    <h5 style="text-align: left;"><strong>Толгобек Койчуманов</strong> - Мультимедиа</h5>
    <h5 style="text-align: left;"><strong>Аскар Нуракун уулу</strong> - Мультимедиа</h5>
    <h5 style="text-align: left;"><strong>Болсунбек Таалайбек уулу</strong> - Мультимедиа</h5>
    <h5 style="text-align: left;"><strong>Жандос Жолдошов</strong> - Мультимедиа</h5>
    </div>




{% endblock %}