{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %}

{% endblock %}

{% block content %}

    <h1 style="text-align: center">Список нашей команды </h1>
    <div>
    <h5><strong>Садык Шер-Нияз</strong> - Руководитель проекта </h5>
    <h5><strong>Фархад Бекманбетов</strong> - Директор фестиваля</h5>
    <h5><strong>Бакытбек Турдубаев</strong> - Главный редактор</h5>
    <h5><strong>Гульбара Толомушева</strong> - Арт-директор фестиваля</h5>
    <h5><strong>Акжол Бекболотов</strong> - Руководитель мультимедиа</h5>
    <h5><strong>Чолпон Идрисова</strong> - Координатор, PR-менеджер</h5>
    <h5><strong>Ника Жолдошева</strong> - Программный менеджер</h5>
    <h5><strong>Элдияр Мадаким</strong> - Режиссер мультимедиа, Дизайнер</h5>
    <h5><strong>София Допплер</strong> - Организатор</h5>
    <h5><strong>Медина Усупбекова</strong> - Организатор</h5>
    <h5><strong>Калыбек Шерниязов</strong> - Организатор</h5>
    <h5><strong>Толгобек Койчуманов</strong> - Мультимедиа</h5>
    <h5><strong>Аскар Нуракун уулу</strong> - Мультимедиа</h5>
    <h5><strong>Болсунбек Таалайбек уулу</strong> - Мультимедиа</h5>
    <h5><strong>Жандос Жолдошов</strong> - Мультимедиа</h5>
    </div>




{% endblock %}