{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %}

{% endblock %}

{% block content %}

    {#    <h1 style="text-align: center">Список нашей команды </h1>#}
    {#    <div style="text-align: center; width: 530px; margin: 0 auto;">#}
    {#    <h5 style="text-align: left;"><strong>Садык Шер-Нияз</strong> - Руководитель проекта </h5>#}
    {#    <h5 style="text-align: left;"><strong>Фархад Бекманбетов</strong> - Директор фестиваля</h5>#}
    {#    <h5 style="text-align: left;"><strong>Бакытбек Турдубаев</strong> - Главный редактор</h5>#}
    {#    <h5 style="text-align: left;"><strong>Гульбара Толомушева</strong> - Арт-директор фестиваля</h5>#}
    {#    <h5 style="text-align: left;"><strong>Акжол Бекболотов</strong> - Руководитель мультимедиа</h5>#}
    {#    <h5 style="text-align: left;"><strong>Чолпон Идрисова</strong> - Координатор, PR-менеджер</h5>#}
    {#    <h5 style="text-align: left;"><strong>Ника Жолдошева</strong> - Программный менеджер</h5>#}
    {#    <h5 style="text-align: left;"><strong>Элдияр Мадаким</strong> - Режиссер мультимедиа, Дизайнер</h5>#}
    {#    <h5 style="text-align: left;"><strong>София Допплер</strong> - Организатор</h5>#}
    {#    <h5 style="text-align: left;"><strong>Медина Усупбекова</strong> - Организатор</h5>#}
    {#    <h5 style="text-align: left;"><strong>Калыбек Шерниязов</strong> - Организатор</h5>#}
    {#    <h5 style="text-align: left;"><strong>Толгобек Койчуманов</strong> - Мультимедиа</h5>#}
    {#    <h5 style="text-align: left;"><strong>Аскар Нуракун уулу</strong> - Мультимедиа</h5>#}
    {#    <h5 style="text-align: left;"><strong>Болсунбек Таалайбек уулу</strong> - Мультимедиа</h5>#}
    {#    <h5 style="text-align: left;"><strong>Жандос Жолдошов</strong> - Мультимедиа</h5>#}
    {#    </div>#}

    <div style="text-align: right; color: red; font-size: 20px;">«Путь к истине – повседневный путь к совершенству…» <br> <span> Ч. Айтматов </span>
    </div>

    <img src="{% static 'img/4.png' %}" style="width: 400px; height: 250px; margin-left: 300px;"> <br> <br>

    <p>Ежегодный кинофестиваль короткометражных фильмов стран СНГ, Балтии и Грузии «Кыргызстан – страна короткометражных
    фильмов» был основан общественным деятелем Садыком Шер-Ниязом в 2011 году. Фестиваль посвящен памяти выдающейся
    личности мира Чингиза Торокуловича Айтматова, и ежегодно проводится в день его рождения, 12 декабря. Фестиваль
    организовывается Общественным фондом «Айтыш» и Союзом кинематографистов КР.</p>

    <p>Ставший доброй традицией зимнего сезона культурной жизни столицы Кыргызстана, фестиваль стал местом встречи зрителей
    с лучшими фильмами современной киноиндустрии стран СНГ, Балтии и Грузии. Кинофорум ставит своей целью,
    популяризировать актуальность короткометражного кино в киноискусстве, открывать сквозь призму авторского видения -
    новые горизонты кинематографа, модернизировать границы создания короткого метра, используя яркие идеи и новаторские
    подходы. Ведь короткий метр – это основа киноискусства, именно с короткометражного проекта начинается путь в большое</p>
    кино.

    <p>Фестиваль включает две конкурсные программы: международная и национальная, где присутствуют такие жанры, как -
    игровое, документальное, анимационное и экспериментальное кино.</p>

    <p>Работы оцениваются международным жюри, в состав которого входят известные деятели мирового кинематографа. Так, за
    все время своего существования в судейскую коллегию входили такие великие мастера кино, как Владимир Фенченко,
    Ходжакули Нарлиев, Али Хамраев, Мурат Алиев, Игорь Вовнянко, Талип Ибраимов и др.</p>

    <p>По результатам кинофестиваля победителям вручаются призы в четырех номинациях, как “Лучший фильм”, “Лучшая
    режиссура”, “Специальный приз жюри” и “Приз зрительских симпатий” (по результатам голосования зрителей).</p>

    <p>Киносмотр ежегодно проходит с 12 по 15 декабря в кинотеатре Манас, г.Бишкек.</p>
<br> <br> <br>

    <div class="block1">
        <h3 style="text-align: center; margin: 40px 0;">ОСНОВАТЕЛЬ ПРОЕКТА САДЫК ШЕР-НИЯЗ</h3>
        <div class="block2"><p><img src="{% static 'img/peoples/sadyk.jpg' %}"
                                    style="float: left; width: 250px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
            <p>Дорогие друзья!</p>

            <p>Сердечно приветствую всех участников, жюри и гостей на V-м юбилейном Международном кинофестивале стран
                СНГ,
                Балтии и Грузии «Кыргызстан – страна короткометражных фильмов»! За годы проведения, фестиваль стал одним
                из
                самых ярких и запоминающихся событий в культурной жизни нашей столицы. Каждый год, в декабре он
                распахивает
                свои двери, и дает возможность профессионалам и любителям кино, увидеть самые интересные работы
                отечественных и зарубежных кинематографистов.</p>

            <p>И в этом году, в Бишкеке вновь происходит это замечательное событие – фестиваль короткометражного кино.
                Фестиваль, который одинаково близок каждому кинематографисту, и каждому зрителю. Именно это единение –
                самое
                главное, в этом единении непреходящая ценность этого замечательного мероприятия. Благодаря этому
                событию,
                вот уже несколько лет кыргызские зрители имеют возможность: познакомиться с кинематографом соседних
                стран и
                выбрать те картины, которые по-настоящему близки зрительскому сердцу.</p>

            <p>Наш фестиваль находится только в самом начале пути, но наша команда с самого начала проекта преисполнена
                решимости продвигать кинематограф, оказывать поддержку молодым кинематографистам и укреплять культурные
                связи. Вот, что является важнейшим приоритетом.</p>

            <p>Со времени своего зарождения кинофестиваль традиционно представляет широкую тематическую палитру,
                разнообразие жанров и самые смелые художественные, документальные решения. И как в прежние годы, в
                рамках
                кинофестиваля, в 2015 году вы сможете познакомиться с наиболее значимыми авторскими работами.</p>

            <p>Желаю насладиться просмотром и открыть для себя новые яркие кинематографические дарования. Уверен, что
                фестиваль откроет новые имена и впишет новые страницы в историю кино. Желаю всем творческого
                вдохновения,
                мира и добра!</p>


            <p>С уважением, <br>
                Садык Шер-Нияз!</p>
            </p>
        </div>
        <br><br>
        <div class="block2">
            <h3 style="text-align: center; margin: 40px 0;">ДИРЕКТОР КИНОФЕСТИВАЛЯ ФАРХАД БЕКМАНБЕТОВ</h3>


            <div class="block2"><p><img src="{% static 'img/peoples/fara.jpg' %}"
                                        style="float: left; width: 250px; height: 330px; margin-right: 20px; margin-bottom: 10px;">

                <p>Уважаемые участники и гости кинофестиваля!</p>
                <p>От имени оргкомитета и от себя лично хочу выразить признательность всем, кто принимает приглашение,
                    кто
                    присылает свои фильмы на наш кинофестиваль. Мы уверены, что наш фестиваль вносит свой достойный
                    вклад в
                    кинематографическую жизнь Кыргызстана. И, конечно, же дает возможность продемонстрировать свои новые
                    творения режиссерам из стран-участниц. Именно этот культурный диалог позволяет киносмотру
                    прокладывать
                    дорогу в будущее, дорогу к дальнейшему плодотворному сотрудничеству. Искусство кино бесспорно
                    является
                    одним из важнейших способов общения, и этот кинофестиваль становится одним из очевидных
                    доказательств
                    того, что кинематограф в наших странах живет и развивается. Фестиваль, объединяющий талантливых
                    кинематографистов, стал неотъемлемой частью культурной жизни Кыргызстана. Киносмотр посвящается
                    памяти
                    выдающегося писателя Чингиза Айтматова и проводится ежегодно в день его рождения. Чингиз Торекулович
                    Айтматов стоял у истоков кыргызского кинематографа, окрыляя его своим творчеством. Мы уверены, что
                    кинофестиваль станет настоящим праздником кино, а новые таланты, станут достойными продолжателями
                    дела,
                    которому Чингиз Торекулович посвятил свою творческую деятельность.</p>

                <p>Желаю Вам плодотворного общения, интересных просмотров, новых идей и творческих побед!
                <br>
            </div>
        </div>
    </div>
    <br><br>
    <div class="block3">
        <h4 style="margin: 30px 0">ОРГАНИЗАЦИОННЫЙ КОМИТЕТ<br>
            VI МКФ СТРАН СНГ, БАЛТИИ И ГРУЗИИ<br>
            КЫРГЫЗСТАН – СТРАНА КОРОТКОМЕТРАЖНЫХ ФИЛЬМОВ» 2016</h4>
        <ul class="container2"
            style="margin: 0; padding: 0; display: inline-block; border-right: 0; width: 300px; text-align: right; list-style: none;">
            <li>САДЫК ШЕР-НИЯЗ</li>
            <li>ФАРХАД БЕКМАНБЕТОВ</li>
            <li>БАКЫТБЕК ТУРДУБАЕВ</li>
            <li>АКЖОЛ БЕКБОЛОТОВ</li>
            <li>ЧОЛПОН ИДРИСОВА</li>
            <li>НИКА ЖОЛДОШЕВА</li>
            <li>ЭЛДИЯР МАДАКИМ</li>
            <li>МЕДИНА УСУПБЕКОВА</li>
            <li>СОФИЯ ДОППЛЕР</li>
            <li>ФАРИДА СЕЙТАЛИЕВА</li>
            <li>КАЛЫБЕК ШЕРНИЯЗОВ</li>
            <li>ТОЛГОБЕК КОЙЧУМАНОВ</li>
            <li>АСКАР НУРАКУН УУЛУ</li>
            <li>БОЛСУНБЕК ТААЛАЙБЕК УУЛУ</li>
            <li>ЖАНДОС ЖОЛДОШОВ</li>
        </ul>
        <ul class="container2"
            style="margin: 0 0 0 -4px; padding: 0; display: inline-block; width: 300px; text-align: left; list-style: none; ">
            <li>Руководитель проекта</li>
            <li>Директор фестиваля</li>
            <li>Главный редактор</li>
            <li>Руководитель мультимедиа</li>
            <li>Координатор, PR-менеджер</li>
            <li>Программный менеджер</li>
            <li>Режиссер мультимедиа, Дизайнер</li>
            <li>Организатор</li>
            <li>Организатор</li>
            <li>Организатор</li>
            <li>Мультимедиа</li>
            <li>Мультимедиа</li>
            <li>Мультимедиа</li>
            <li>Мультимедиа</li>
            <li>Мультимедиа</li>
        </ul>
    </div>


{% endblock %}