{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div style="width: 200px; float: left; margin-left: 200px; margin-top: 20px;">
        <img src="{% static 'img/2.png' %}" style="width: 200px; height: 400px;">
    </div>
    <div style="width: 500px; float: right; margin-top: 70px; margin-left: 50px;">
        <p style="text-align: center"><strong>Кыргызстан - страна<br> короткометражных фильмов<br>
            kskf.short@gmail.com</strong></p>
        <br>
        <p style="text-align: center"><strong>Киностудия "Айтыш Фильм"<br>
                aityshfilmst@gmail.com</strong></p>
        <br>
        <p style="text-align: center"><strong>Кыргызстан, Бишкек,<br>
            Жибек-Жолу 625<br>
        </strong></p>
        <br>
        <p style="text-align: center"><strong>© Kyrgyzstan - Land of short films
        </strong></p>
    </div>
    <br><br>


    <img src="{% static 'img/map.png' %}" style="margin-top: 50px;">
    <br><br>

{% endblock %}