<p>------------------------------------------------------------------------</p>
<p>Сведения о режиссере</p>
<p>Синопсис: <h3 style="color: darkred">{{ name }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Синопсис: <h3 style="color: darkred">{{ date }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Синопсис: <h3 style="color: darkred">{{ education }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Синопсис: <h3 style="color: darkred">{{ biography }}</h3> </p>
<p>------------------------------------------------------------------------</p>
