<p>------------------------------------------------------------------------</p>
<p>Сведения о режиссере</p>
<p>ФИО Режиссера: <h3 style="color: darkred">{{ name }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Дата Рождения: <h3 style="color: darkred">{{ date }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Образование: <h3 style="color: darkred">{{ education }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Биография: <h3 style="color: darkred">{{ biography }}</h3> </p>
<p>------------------------------------------------------------------------</p>
