{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="block1">

    <div class="block2 group"><p><img src="{% static 'img/aitysh.jpg' %}"
                                      style="float: left; width: 270px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
        <h4>ОБЩЕСТВЕННЫЙ ФОНД «АЙТЫШ»</h4>
        <p>Общественный фонд «АЙТЫШ» — благотворительная организация, деятельность которой направлена на поддержание
            и
            развитие культуры в Кыргызстане. Основан в 2001 году в городе Бишкек общественным деятелем,
            кинорежиссером и
            продюсером Садыком Шер-Ниязом. В структуру фонда входят объединение акынов-импровизаторов айтыш,
            киностудия
            «Айтыш Фильм», кинофестиваль «Кыргызстан — страна короткометражных фильмов», кинотеатр «Манас»,
            литературный
            клуб «Калемгер».</p>

        <p><strong>ИСТОРИЯ</strong></p>
        <p>Идея создания общественного фонда «Айтыш» зародилась в 1998 году. В те годы искусство
            акынов-импровизаторов
            было слабо развито и не было распространено в масштабах страны.
            В 2001 году Садык Шер-Нияз основал фонд с целью поддержки молодых акынов-импровизаторов и восстановления
            былого величия традиционного искусства айтыш. Совместно с такими известными акынами как Ашыралы
            Айталиев,
            Эстебес Турсуналиев и Тууганбай Абдиев была создана школа молодых акынов. К 2014 году в школе обучается
            около 30 человек.</p>
        <p>В 2003 году искусство акынов-импровизаторов и сказителей было включено ЮНЕСКО в список нематериального
            культурного наследия человечества. Основатель фонда Садык Шер-Нияз удостоился особой благодарности
            генерального директора ЮНЕСКО Коитиро Матцууры за вклад в мировую культуру.
            В 2004 году телеканал РФ НТВ посвятил искусству айтыш и общественному фонду «Айтыш» отдельный
            репортаж[4], а
            в 2005 году крупнейшая газета США «Washington Post» напечатала об этом статью .
            Фонд открыл новые имена талантливых акынов: Амантай Кутманалиев, Женишбек Токтобеков, Эльмирбек
            Иманалиев,
            Аалы Туткучиев, Азамат Болгонбаев и другие. Кроме этого, фонд способствовал возобновлению культурного
            единства между кыргызами и казахами, частью культуры которых является айтыш, посредством международных
            состязательных концертов.
            Позднее фонд «Айтыш» поставил себе задачу содействовать развитию других сфер культуры. С 2004 году
            запускаются новые проекты общественного фонда «Айтыш».</p>

        <p><strong>ДЕЯТЕЛЬНОСТЬ</strong></p>
        <ul>С 2001 года ОФ «Айтыш» организовывает и спонсирует:
            <li>состязательные концерты акынов-импровизаторов, проходящие 2-3 раза в год, с призовым фондом 1 000
                000 сом
                (KGS);
            </li>
            <li>благотворительные концерты, акции, культурные мероприятия и празднования юбилеев видных акынов;</li>
            <li>кинофестивали, кинопоказы и другие мероприятия в сфере кино.</li>

            Помимо этого, фонд оказывает поддержку в выпуске, презентации и распространении печатных изданий, видео
            и
            аудиоматериалов, авторами которых являются акыны и не только.
            В 2004 году ввиду большого интереса к искусству айтыш среди населения, первый телеканал Общественной
            Теле-радиовещательной Корпорации (ОТРК) и второй телеканал ЭлТР начали прямую трансляцию состязательных
            концертов айтыш.
            Постоянными партнерами фонда являются Министерство Культуры Кыргызской Республики, МФГС
            (Межгосударственный
            фонд гуманитарного сотрудничества), Платформа «Диалог Евразия», Кыргызфильм, Международный ПЕН-клуб и
            другие.
        </ul>

        <p><strong>ПРОЕКТЫ ФОНДА</strong></p>
        <p>В 2001 году с целью содействия в развитии молодых акынов и сказителей основана школа молодых
            акынов-импровизаторов.
            В декабре 2004 года основан литературный клуб «КАЛЕМГЕР». Целью клуба является поддержка молодых
            литераторов
            Кыргызстана. Выпущено несколько сборников членов клуба, а также десятки периодических альманахов.
            В 2006 году основана киностудия «АЙТЫШ ФИЛЬМ». Основная цель киностудии — развитие кыргызского
            кинематографа
            путём поддержки творчества талантливой молодежи. Студия производит художественные, анимационные и
            документально-телевизеонные фильмы.
            Ежегодный международный кинофестиваль короткометражных фильмов стран СНГ, Балтии и Грузии «КЫРГЫЗСТАН —
            СТРАНА КОРОТКОМЕТРАЖНЫХ ФИЛЬМОВ» проводится с 2011 года в городе Бишкек, Кыргызстан. Традиционно,
            открытие
            проходит 12 декабря, а сам фестиваль длится 4 дня. Дата открытия кинофестиваля приурочена ко дню
            рождения
            великого кыргызского писателя Чингиза Торокуловича Айтматова.</p>
        <p style="margin-top: 5px;"><a
                href="https://ru.wikipedia.org/wiki/%D0%90%D0%B9%D1%82%D1%8B%D1%88_(%D1%84%D0%BE%D0%BD%D0%B4)"
                class="btn btn-primary" style="width: 200px; height: 45px; font-size: 24px;" target="_blank">Узнать
            больше<i
                    class="fa fa-long-arrow-right"></i></a></p>
        <br><br>
    </div>

    <div class="block2 group"><p><img src="{% static 'img/aitysh_film.jpg' %}"
                                      style="float: left; width: 270px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
        <h4>АЙТЫШ ФИЛЬМ</h4>
        <p>Киностудия «АЙТЫШ ФИЛЬМ» основана общественным деятелем, кинорежиссером и продюсером Садык Шер-Ниязом в
            2006
            году под Общественным фондом "Айтыш" в городе Бишкек, Кыргызской Республики. У истоков создания студии
            стояли такие известные кинематографисты, как Т. Бирназаров, Ф. Бекманбетов, Б. Турдубаев, А.
            Бекболотов.</p>

        <ul>ОСНОВНЫМИ ЦЕЛЯМИ КИНОСТУДИИ ЯВЛЯЮТСЯ:
            <li>Развитие отечественного кинематографа путем оказания поддержки молодым кинематографистам;</li>
            <li>Поднятия имиджа страны на международном уровне, выпуская качественную кинопродукцию и участия данных
                работ
                на международных кинофестивалях;
            </li>
            <li>Развитие и укрепление межкультурных отношений между странами ближнего и дальнего зарубежья в рамках
                сотрудничества;
            </li>
            <li>Пропаганда и сохранение культурных наследий кыргызского народа посредством киноискусства;</li>
        </ul>
        <p>Студия занимается производством художественных, анимационных и документально-телевизионных фильмов, а
            также
            качественной и востребованной аудио видео продукции, как социальные, имиджевые, коммерческие ролики,
            видеоклипы, видеопрезентации, аудиоролики и дубляж.</p>
        <p>На сегодня Айтыш Фильм является одним из передовых продакшн - студий в стране, которая полностью оснащена
            современной материально-технической базой, отвечающая мировым стандартам. Сотрудниками студии являются
            опытные и креативные специалисты, которые не раз доказали свой уровень профессионализма не только в
            Кыргызстане, но и за рубежом.</p>
        <p>Киностудия состоит из операторского, звукозаписывающего и монтажно-тонировочного цехов.
            Фильмы киностудии демонстрировались на международных кинофестивалях, где не раз становились обладателями
            престижных наград. Это кинокартины, “Парз” реж. Т.Бирназаров; “У нас все хорошо”, “Письмо Деду Морозу”
            реж.
            А.Бекболотов; “Соль” реж. М.Сарулу; “Жамгыр” реж. А.Баканова; “Чайка” реж. Е.Стишова; “Курманжан Датка”
            (совместно с Кыргызфильм) реж. С. Шер-Нияз и др.</p><br>
        <p style="margin-top: 5px;"><a
                href="https://ru.wikipedia.org/wiki/%D0%90%D0%B9%D1%82%D1%8B%D1%88_(%D1%84%D0%BE%D0%BD%D0%B4)"
                class="btn btn-primary" style="width: 200px; height: 45px; font-size: 24px;" target="_blank">Узнать
            больше<i
                    class="fa fa-long-arrow-right"></i></a></p>
        <br><br>
    </div>

    <div class="block2 group"><p><img src="{% static 'img/kalemger.jpg' %}"
                                      style="float: left; width: 300px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
        <h4>ЛИТЕРАТУРНЫЙ КЛУБ «КАЛЕМГЕР»</h4>
        <p>Литературный клуб «КАЛЕМГЕР» под общественным фондом «АЙТЫШ» основан общественным деятелем Садык
            Шер-Ниязом
            в 18 октября 2004 году.</p>
         
        <p> Клуб ставит своей целью, поддержку молодых литераторов страны, проведения творческих конкурсов и
            создания
            единой площадки для молодых писателей, где они смогут выразить свой талант через литературу.</p>
         
        <p>Ежегодно клуб проводит литературное состязание среди молодых и состоявшихся писателей. Конкурс нацелен на
            поиске новых имен, интересных тем и заострении внимания молодого поколения к богатейшему культурному
            наследию Кыргызстана.</p>
         
        <p>За время своего существования клуб оказал огромную поддержку по выпуску книжных изданий. В рамках
            отдельных
            проектов клуба публиковались и печатались многочисленные работы, как дебютантов, так и маститых
            авторов.</p>
        <br>
        <p style="margin-top: 5px;"><a
                href="http://kalemger.kg"
                class="btn btn-primary" style="width: 200px; height: 45px; font-size: 24px;" target="_blank">Узнать
            больше<i
                    class="fa fa-long-arrow-right"></i></a></p>
        <br><br>
    </div>

    <div class="block2 group"><p><img src="{% static 'img/ak_ilbirs.jpg' %}"
                                      style="float: left; width: 300px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
        <h4>НАЦИОНАЛЬНАЯ КИНОПРЕМИЯ АК ИЛБИРС</h4>
        <p>Ежегодная Национальная кинопремия АК ИЛБИРС учреждена в 2011 году видными деятелями киноискусства, как
            Артык
            Суйундуков, Садык Шер-Нияз, Эрнест Абдыжапаров, Темир Бирназаров, Актан Арым Кубат, Таалай Кулмендеев,
            Нурлан Абдыкадров и Марат Сарулу. Основной целью кинопермии является признание лучших достижений в
            области
            кинематографа, а также стимулирование роста кинопроизводства. Кинопремия проводится при поддержке
            общетсвенного фонда “Айтыш”, Союза кинематографистов КР и Фонда развития кино.</p>
         <br>
        <br>
        <br>
        <ul style="list-style: none; margin-left: 50px;">Победителей определяют по следующим 14 номинациям:
             
            <li>1. «Лучший фильм». </li>
            <li>2. «Лучший режиссер».</li>
            <li>3. «Лучший сценарий».</li>
            <li>4. «Лучший оператор».</li>
            <li>5. «Лучший художник».</li>
            <li>6. «Лучший композитор».</li>
            <li>7. «Лучший звукорежиссер».</li>
            <li>8. «Лучший монтаж»</li>
            <li>9. «Лучшая мужская роль».</li>
            <li>10. «Лучшая женская роль».</li>
            <li>11. «Лучший документальный фильм»</li>
            <li>12. «Лучший короткометражный фильм»</li>
            <li>13. «Лучший зрительский фильм».</li>
            <li>14. «За выдающийся вклад в национальный кинематограф».</li>
        </ul>
         
        <p>Помимо основных номинаций, с 2014 года кинопремия расширила свою географию и включила еще дополнительные
            награды. Это награды за «Лучший фильм Центральной Азии» и «За вклад в мировой кинематограф».</p>
         
        <p>Победителям вручаются статуэтки снежного барса, как символ ловкости и полета.</p>
         
        <p>Кинопремия ежегодно проходит 15 мая в кинотеатре «Манас».</p>

        <br>
        <p style="margin-top: 5px;"><a
                href="http://kalemger.kg"
                class="btn btn-primary" style="width: 200px; height: 45px; font-size: 24px;" target="_blank">Узнать
            больше<i
                    class="fa fa-long-arrow-right"></i></a></p>
        <br><br>
    </div>

    <div class="block2 group"><p><img src="{% static 'img/asian_world.png' %}"
                                      style="float: left; width: 300px; height: 250px; margin-right: 20px; margin-bottom: 20px;">
        <h4>НАЦИОНАЛЬНАЯ КИНОПРЕМИЯ АК ИЛБИРС</h4>
        <p>Кинофестиваль Asian World Film Festival основан в 2015 году общественным деятелем, продюсером и
            кинорежиссером
            Садыком Шер-Ниязом. Кинофестиваль ежегодно проводится в октябре в г. Лос-Анджелесе (США).  Фестиваль
            организовывается с целью признания и привлечения внимания к высокому уровню кинематографистов азиатского
            региона, укрепления связи между азиатскими и голливудскими киноиндустриями.</p>

         
        <p>Киносмотр ежегодно отбирает и показывает лучшие фильмы из Азии. Фестиваль является отличной возможностью для
            кинематографистов чтобы заявить о себе во время сезона наград посредством показа для Академии Оскара,
            Международной ассоциации Голливудской прессы, Гильдии режиссеров и т.д., привлекая дополнительное внимание
            СМИ и
            членов комиссии.</p>
         
        <ul>Фильмы будут оцениваться в следующих номинациях:

            <li>Лучший фильм </li>
            <li>Выбор жюри </li>
            <li>Приз зрительских симпатий</li>
            <li>Лучший актер </li>
            <li>Лучшая актриса</li>
            <li>Награда от спонсора</li>
            <li>Награда от медиа партнера</li>
        </ul>
        Первый кинофестиваль прошел с большим аншлагом, где принимали участие более 48 стран из азиатского региона.
        Кинофорум посетили такие мировые личности, как Стивен Сигал, Гэри Дэниелс и др.

        <br>
        <p style="margin-top: 5px;"><a
                href="http://www.asianworldfilmfest.org "
                class="btn btn-primary" style="width: 200px; height: 45px; font-size: 24px;" target="_blank">Узнать
            больше<i
                    class="fa fa-long-arrow-right"></i></a></p>
        <br><br>
    </div>


</div>

{% endblock %}