{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center; ">
        <p>Кыргызское слово «Айтыш» означает «соревноваться импровизируя». Так называется древний вид искусства нашего
            народа, который, сопровождая кыргызов тысячелетиями в их кочевой жизни, начал растворятся в конце 20 века. С
            целью возрождения национального достояния был создан общественный фонд «Айтыш» в 2001году.</p>

        <p>Вручения сертификата признани ЮНЕСКО в 2003 году древнейшему вид искусства – акынства Шедевром мирового
            устного
            творчества стал для фонда добрым началом многих созидательных исканий и свершений.</p>


        <p>Не изменяя своей основной цели, ОФ «Айтыш», с момента создания, ведет целенаправленную работу по поддержанию
            и
            развитию искусства акынов-сказителей; на собственные средства фонда организована школа импровизаторов для
            талантливой молодежи; проводятся международные и республиканские конкурсы Айтыш; изданы книги; ведутся
            радио-телепередачи; снимаются фильмы. В свое время о деятельности нашего фонда положительно отзывались
            мировые
            СМИ такие как: «The Washington Post», «Телеканалы НТВ», «Культура» а также ведущие СМИ Кыргызстана и
            странСНГ.
            Фонд всегда поддерживает начинания, направленные на сохранение культурных ценностей, развития исконных
            традиций
            народов, а также пропаганду идеи гуманизма.</p>
    </div>
{% endblock %}