{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}

    <strong><p style="text-align: center; font-size: 18px">ЗАЯВКА
        на участие в VI МКФ стран СНГ, Балтии и Грузии</p>
    <p style="text-align: center; font-size: 18px;">«КЫРГЫЗСТАН – СТРАНА КОРОТКОМЕТРАЖНЫХ ФИЛЬМОВ»</p></strong>
    <p>
        <div class="alert alert-danger" role="alert">Все поля обязательны к заполнению, иначе ваша заявка будет
            недействительна
        </div>
    </p>
    <form action="{% url 'send_mail' %}" method="post" id="form-submit">{% csrf_token %}

        {{ form|as_bootstrap }}


        <div class="form">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Отправить</button>
            </div>
        </div>
    </form>




    <script>
        $('#form-submit').on('submit', function () {

            var is_valid = true;

            $('input', this).each(function (index, obj) {
                if ($(obj).val() == '') {
                    is_valid = false;
                    alert('Некоторые поля заполнены некорректно')
                    $($(obj).parent()).addClass('form-group has-error');
                }
            });

            return is_valid;
        })
    </script>

{% endblock %}
