{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block content %}

    <main>
        <div class="grid">
            <h5>РЕГЛАМЕНТ и ЗАЯВКА<br>
                на участие в VI МКФ стран СНГ, Балтии и Грузии
            </h5>

            <h5>«КЫРГЫЗСТАН – СТРАНА КОРОТКОМЕТРАЖНЫХ ФИЛЬМОВ»</h5>

            <ul class="main">
                <li>Фестиваль, учрежденный Союзом кинематографистов Кыргызской Республики и<br>
                    Общественным фондом «Айтыш», посвященный памяти великого писателя Ч. Айтматова,<br>
                    ставит своей целью:<br>
                    - поддержку короткометражного кино<br>
                    - формирование его высокого социально-культурного статуса и традиционных ценностей<br>
                    - сохранение единого кинематографического пространства стран СНГ, Балтии и Грузии<br>
                    - способствовать развитию творческих контактов между кинематографистами.<br>
                </li>
                <li>VI МКФ короткометражных фильмов стран СНГ, Балтии и Грузии «Кыргызстан – страна<br>
                    короткометражных фильмов» пройдет с 12 по 15 декабря 2016 года в кинотеатре «Манас» г.<br>
                    Бишкек, Кыргызстан.
                </li>
                <li>К участию в конкурсе допускаются документальные, художественные и анимационные<br>
                    фильмы, созданные в Кыргызстане, странах СНГ, Балтии и Грузии и законченные не ранее 1<br>
                    декабря 2015 г.
                </li>
                <li>Официальный язык фестиваля – <strong>РУССКИЙ</strong>.</li>
                <li class="group"><b>КОНКУРСЫ ФЕСТИВАЛЯ:</b><br>
                    <div class="block">
                        <div class="zag">Международный конкурс:</div>
                        <ul>
                            <li>Лучший фильм
                            </li>
                            <li>Лучшая режиссура
                            </li>
                            <li>Специальный приз жюри
                            </li>
                            <li>Приз зрительских симпатий</li>
                            <br>
                            <br>
                        </ul>
                    </div>

                    <div class="block">
                        <div class="zag">Национальный конкурс:</div>
                        <ul>
                            <li>Лучший фильм
                            </li>
                            <li>Лучшая режиссура
                            </li>
                            <li>Специальный приз жюри
                            </li>
                            <li>Приз зрительских симпатий</li>
                            <li>Лучшее звуковое оформление</li>
                        </ul>
                    </div>
                </li>
                <li>В фестивале могут участвовать кино- и телекомпании, независимые продюсеры и любые<br>
                    обладатели авторских прав на представляемые фильмы. Авторы и правообладатели<br>
                    оповещаются о результатах конкурсного отбора путем опубликования конкурсной<br>
                    программы на официальном сайте фестиваля, а также персонального уведомления<br>
                    по электронной почте.
                </li>
                <li>Конкурсная программа формируется Отборочной комиссией и Дирекцией фестиваля.<br>
                    Отборочная комиссия не предоставляет письменных или устных объяснений своего решения<br>
                    создателям фильмов, представленных для отбора.
                </li>
                <li>Дата, время и порядок демонстрации фильмов в программе устанавливаются Дирекцией.</li>
                <li>Отборочная комиссия НЕ РАССМАТРИВАЕТ ФИЛЬМЫ, хронометраж которых превышает 30 мин.
                </li>
                <li>Представляемые на фестиваль фильмы не должны содержать пропаганду насилия,<br>
                    национальной, расовой и религиозной нетерпимости, оскорбление нравственных чувств человека.
                </li>
                <li><strong>ДЛЯ УЧАСТИЯ В ОТБОРЕ НЕОБХОДИМО ПРЕДСТАВИТЬ СЛЕДУЮЩИЕ МАТЕРИАЛЫ:</strong>
                    <ul>
                        <li>Заявку на участие можете заполнить <a href="{% url 'registration' %}">
                            <strong style="color: blue; text-decoration: underline;">онлайн </strong> </a>
                        </li>
                        <li>Или <a href="{% static 'Applicattion_2016.pdf' %}"
                                   style="text-decoration: underline; color: blue;"><strong>скачать</strong></a> и
                            заполнить заявку на участие в электронном виде и ссылку на фильм с паролем<br>
                            (принимается только VIMEO и DROPBOX, не больше 1,5 GB) отправить по адресу:<br>
                            <a href="">kskf.short@gmail.com</a>
                        </li>
                        <li>Диалоговые листы на русском языке - для фильмов на национальных языках, не имеющих<br>
                            русских субтитров. Отборочная комиссия НЕ РАССМАТРИВАЕТ ФИЛЬМЫ, представленные <br>
                            на национальном языке и НЕ ИМЕЮЩИЕ РУССКИХ СУБТИТРОВ или ДИАЛОГОВЫХ<br>
                            ЛИСТОВ НА РУССКОМ ЯЗЫКЕ.
                        </li>
                        <li>Фотографию режиссера и кадр из фильма в электронном виде (в формате jpg или tiff, 300<br>
                            dpi, не менее 500 Kb) для включения в каталог фестиваля.

                        </li>
                    </ul>
                </li>

                <li>Заявки принимаются до 10 ноября 2016 г.
                </li>
                <li>Условия пребывания участников и официальных гостей фестиваля обговариваются в их персональных
                    приглашениях.
                </li>
            </ul>
        </div>
    </main>
    <p>
    <div class="alert alert-danger" role="alert">Все поля обязательны к заполнению, иначе ваша заявка будет
        недействительна
    </div>
    </p>
    <form action="{% url 'send_mail' %}" method="post" id="form-submit">{% csrf_token %}

        {{ form|as_bootstrap }}


        <div class="form">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Отправить</button>
            </div>
        </div>
    </form>




    <script>
        $('#form-submit').on('submit', function () {

            var is_valid = true;

            $('input', this).each(function (index, obj) {
                if ($(obj).val() == '') {
                    is_valid = false;
                    alert('Некоторые поля заполнены некорректно')
                    $($(obj).parent()).addClass('form-group has-error');
                }
            });

            return is_valid;
        })
    </script>

{% endblock %}
