<p>Название фильма: <h3 style="color: darkred">{{ film_name }} </h3></p>
<p>------------------------------------------------------------------------</p>
<p>Страна(какую страну представляет ваш фильм):<h3 style="color: darkred"> {{ country }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Режиссер (ФИО): <h3 style="color: darkred">{{ director }} </h3></p>
<p>------------------------------------------------------------------------</p>
<p>Оригинальный язык фильма:<h3 style="color: darkred"> {{ language }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Язык титров: <h3 style="color: darkred">{{ lang_tit }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Хронометраж фильма: <h3 style="color: darkred">{{ chronological }} </h3></p>
<p>------------------------------------------------------------------------</p>
<p>Год производства: <h3 style="color: darkred">{{ year }} </h3></p>
<p>------------------------------------------------------------------------</p>
<p>Жанр Фильма: <h3 style="color: darkred">{{ genre }} </h3></p>
<p>------------------------------------------------------------------------</p>
<p>Формат: <h3 style="color: darkred">{{ filmtype }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Ссылка на фильм с паролем (только VIMEO, DROPBOX, не больше 1,5 GB): <h3 style="color: darkred">{{ url_film }} </h3></p>
<p>------------------------------------------------------------------------</p>
<p>Компания–производитель (Указывать полное название организации, студии или учебного заведения): <h3 style="color: darkred">{{ company }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Адрес:<h3 style="color: darkred"> {{ address }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Номер Телефона: <h3 style="color: darkred">{{ phone_number }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>E-mail: <h3 style="color: darkred">{{ email }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Сайт (если есть):<h3 style="color: darkred"> {{ site }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Правообладатель:<h3 style="color: darkred"> {{ copyrighter }} </h3></p>
<p>------------------------------------------------------------------------</p>
<p>Контактные данные (адрес, тел., е-mail): <h3 style="color: darkred">{{ contacts }}</h3></p>
<p>------------------------------------------------------------------------</p>
<p>Автор сценария: <h3 style="color: darkred">{{ author }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Оператор: <h3 style="color: darkred">{{ operator }} </h3></p>
<p>------------------------------------------------------------------------</p>
<p>Продюсер: <h3 style="color: darkred">{{ producer }} </h3></p>
<p>------------------------------------------------------------------------</p>
<p>Художник: <h3 style="color: darkred">{{ hudojnik }} </h3></p>
<p>------------------------------------------------------------------------</p>
<p>Актеры: <h3 style="color: darkred">{{ actors }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Синопсис: <h3 style="color: darkred">{{ sinopsis }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>------------------------------------------------------------------------</p>
<p>Сведения о режиссере</p>
<p>ФИО Режиссера: <h3 style="color: darkred">{{ name }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Дата Рождения: <h3 style="color: darkred">{{ date }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Образование: <h3 style="color: darkred">{{ education }}</h3> </p>
<p>------------------------------------------------------------------------</p>
<p>Биография: <h3 style="color: darkred">{{ biography }}</h3> </p>
<p>------------------------------------------------------------------------</p>




