{% load staticfiles %}
<div class="header clearfix" style="font-size: 14px;">
    <nav style="color: black !important;">
        <img src="{% static 'img/rsz_71logo.png' %}">
        <ul class="nav nav-pills pull-right" style="font-size: medium;">
            <li role="presentation"><a href="{% url 'main' %}">НОВОСТИ</a></li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">О НАС <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="{% url 'about' %}">О Фестивале</a></li>
                    <li role="presentation"><a href="#">Фонд "АЙТЫШ"</a></li>
                    <li role="presentation"><a href="#">Айтыш Фильм</a></li>
                    <li role="presentation"><a href="#">Калемгер</a></li>
                    <li role="presentation"><a href="#">Asian World Film Festival</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">ФЕСТИВАЛЬ <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="{% url 'registration' %}">Регламент и заявка 2016</a></li>
                    <li role="presentation"><a href="#">2015 фестиваль</a></li>
                    <li role="presentation"><a href="#">2014 фестиваль</a></li>
                    <li role="presentation"><a href="#">2013 фестиваль</a></li>
                    <li role="presentation"><a href="#">2012 фестиваль</a></li>
                    <li role="presentation"><a href="{% url 'festival2011' %}">2011 фестиваль</a></li>
                </ul>
            </li>

            <li class="dropdown" style="text-align: center;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">СПОНСОРЫ <br> И ПАРТНЕРЫ<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="{% url 'partners' %}">Партнеры</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">МЕДИА<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="#">ФОТО ГАЛЕРЕЯ</a></li>
                    <li role="presentation"><a href="#">ВИДЕО</a></li>

                </ul>
            </li>

            <li role="presentation"><a href="#">КОНТАКТЫ</a></li>


        </ul>
    </nav>


    {#    <script>#}
    {#        var current = '{{ request.path }}';#}
    {##}
    {#        $('ul.nav > li').each(function (index, object) {#}
    {##}
    {#            if ($('a', object).attr('href') == current) {#}
    {#                $(object).addClass('active')#}
    {#            }#}
    {#        })#}
    {#    </script>#}
</div>