{% load staticfiles %}
<div class="header clearfix" style="font-size: 14px;">
    <nav style="color: black !important;">
        <img src="{% static 'img/rsz_71logo.png' %}">
        <ul class="nav nav-pills pull-right" style="font-size: medium;">
            <li role="presentation"><a href="{% url 'main' %}">Главная</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Фестиваль <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="{% url 'registration' %}"><strong>Прием заявок на 2016 МКФ (электронная
                        заполнение анкеты)</strong></a></li>
                    <li role="presentation"><a href="#">2015 фестиваль</a></li>
                    <li role="presentation"><a href="#">2014 фестиваль</a></li>
                    <li role="presentation"><a href="#">2013 фестиваль</a></li>
                    <li role="presentation"><a href="#">2012 фестиваль</a></li>
                    <li role="presentation"><a href="#">2011 фестиваль</a></li>
                </ul>
            </li>

             <li class="dropdown" style="text-align: center;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Наши спонсоры <br> и партнеры<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="{% url 'partners' %}">Партнеры</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Медиа<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="#">Пресс-релизы</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">О Нас <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="{% url 'reglament' %}"><strong>Регламент фестиваля</strong></a></li>
                    <li role="presentation"><a href="{% url 'about' %}">Команда Фестиваля</a></li>

                </ul>
            </li>

        </ul>
    </nav>


    {#    <script>#}
    {#        var current = '{{ request.path }}';#}
    {##}
    {#        $('ul.nav > li').each(function (index, object) {#}
    {##}
    {#            if ($('a', object).attr('href') == current) {#}
    {#                $(object).addClass('active')#}
    {#            }#}
    {#        })#}
    {#    </script>#}
</div>