<div class="header clearfix">
    <nav style="color: black !important;">
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'main' %}">Главная</a></li>
            <li role="presentation"><a href="{% url 'partners' %}">Наши партнеры</a></li>
            <li role="presentation"><a href="{% url 'reglament' %}">Регламент</a></li>
            <li role="presentation"><a href="{% url 'registration' %}">Фестиваль</a></li>
            <li role="presentation"><a href="{% url 'about' %}">О Нас</a></li>
            {#            <li role="presentation"><a href="#">Контакты</a></li>#}
        </ul>
    </nav>


    <script>
        var current = '{{ request.path }}';

        $('ul.nav > li').each(function (index, object) {

            if ($('a', object).attr('href') == current) {
                $(object).addClass('active')
            }
        })
    </script>
</div>